{{- /*gotype: github.com/PDOK/gokoala/engine.TemplateData*/ -}}
{{define "content"}}
  <hgroup>
    <h1 class="title">{{ .Config.Title }} - Tiles</h1>
  </hgroup>
  <div class="row">
    <div class="col-md-12">
      <p>
        Deze hele dataset is beschikbaar via OGC API Tiles. Tiles kunnen zowel vector als raster data
        bevatten en in meerdere projecties beschikbaar worden gesteld. In het geval van vector tiles
        biedt PDOK ook styles aan.
      </p>
    </div>
  </div>
  <div class="row">
      {{ $baseUrl := .Config.BaseURL }}
      {{ $defaultSrs := (index .Config.OgcAPI.Tiles.SupportedSrs 0)}}
      {{ $projections := dict "EPSG:28992" "NetherlandsRDNewQuad" "EPSG:4258" "EuropeanETRS89_GRS80Quad_Draft" "EPSG:3857" "WebMercatorQuad" }}
      {{ $srsInteger := dict "EPSG:28992" "28992" "EPSG:4258" "4258" "EPSG:3857" "3857" }}
    <div class="col-md-4">
      <table class="table">
        <tbody>
        <tr>
          <th>Tile Matrix Set</th>
          <td>
              {{ if eq (len .Config.OgcAPI.Tiles.SupportedSrs) 1 }}
                  {{ get $projections $defaultSrs.Srs }}
              {{ else }}
                <select id="srs">
                    {{ range $srs := .Config.OgcAPI.Tiles.SupportedSrs }}
                      <option value="{{ $srs.Srs }}">{{ get $projections (index $srs).Srs }}</option>
                    {{ end }}
                </select>
              {{ end }}
          </td>
        </tr>
        <tr>
          <th>Schema</th>
          <td id="field-schema"><a id="href-schema"
                                   href="https://www.opengis.net/def/crs/EPSG/0/{{ get $srsInteger $defaultSrs.Srs }}">HTML
              (link naar externe website)</a></td>
        </tr>
        <tr>
          <th>Bijgewerkt door PDOK</th>
          <td id="field-updated">{{ toDate "2006-01-02T15:04:05Z07:00" .Config.LastUpdated | date "2006-01-02" }}</td>
        </tr>
        <tr>
          <th>Type</th>
          <td id="field-type">{{ (index .Config.OgcAPI.Tiles.Types 0) }}</td>
        </tr>
        <tr>
          <th>CRS</th>
          <td id="field-srs">{{ $defaultSrs.Srs }}</td>
        </tr>
        <tr>
          <th>Metadata Tiles</th>
          <td id="field-metadata"><a id="href-metadata"
                                     href="tiles/{{ get $projections $defaultSrs.Srs }}">Link</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-8">
      <app-vectortile-view id="tile-vectortile-view" style="width: 800px; height: 600px;"
                           tile-url="{{ $baseUrl }}/tiles/{{ get $projections $defaultSrs.Srs }}"
                           {{ if .Config.OgcAPI.Styles }}style-url="{{ $baseUrl }}/styles/{{ .Config.OgcAPI.Styles.Default }}"{{ end }}
                           zoom="{{ $defaultSrs.ZoomLevelRange.End }}"
                           center-x="5.3896944"
                           center-y="52.1562499"
                           show-grid>
      </app-vectortile-view>
      <table class="table">
        <tbody>
        <tr>
          <th>URL template</th>
          <td id="field-url-template">{{ $baseUrl }}/tiles/{{ get $projections $defaultSrs.Srs }}/{tileMatrix}/{tileRow}/{tileCol}?f=mvt
          </td>
        </tr>
        <tr>
          <th>Voorbeeld URL</th>
          <td id="field-url-example">{{ $baseUrl }}/tiles/{{ get $projections $defaultSrs.Srs }}/{{ $defaultSrs.ZoomLevelRange.End }}/0/0.pbf
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <script>
      document.addEventListener('input', function (event) {
          // only operate on srs dropdown
          if (event.target.id !== 'srs') return;

          var selectedSrs = event.target.value
          var srsInteger = selectedSrs.replace(/^EPSG:/, '')
          var tileset
          if (selectedSrs === "EPSG:28992") {
              tileset = "NetherlandsRDNewQuad"
          } else if (selectedSrs === "EPSG:4258") {
              tileset = "EuropeanETRS89_GRS80Quad_Draft"
          } else if (selectedSrs === "EPSG:4258") {
              tileset = "WebMercatorQuad"
          }

          var schemaField = document.getElementById('field-schema');
          var typeField = document.getElementById('field-type');
          var srsField = document.getElementById('field-srs');
          var urlTemplateField = document.getElementById('field-url-template');
          var urlExampleField = document.getElementById('field-url-example');
          var metadataHref = document.getElementById('href-metadata');
          var schemaHref = document.getElementById('href-schema');
          typeField.textContent = {{ (index .Config.OgcAPI.Tiles.Types 0) }};
          srsField.textContent = selectedSrs;
          urlTemplateField.textContent = "{{ $baseUrl }}/tiles/" + tileset + "/{tileMatrix}/{tileRow}/{tileCol}?f=mvt";
          urlExampleField.textContent = "{{ $baseUrl }}/tiles/" + tileset + "/{{ $defaultSrs.ZoomLevelRange.End }}/0/0.pbf";
          metadataHref.setAttribute('href', "{{ $baseUrl }}/tiles/" + tileset);
          schemaHref.setAttribute('href', "https://www.opengis.net/def/crs/EPSG/0/" + srsInteger);


          // update tile-url in app-vectortile-view
          var viewer = document.getElementById('tile-vectortile-view')
          viewer.setAttribute('tile-url', '{{ $baseUrl }}/tiles/' + tileset)
      }, false);
  </script>
{{end}}
