{{- /*gotype: github.com/PDOK/gokoala/engine.TemplateData*/ -}}
{{define "content"}}
<hgroup>
    <h1 class="title">{{ .Config.Title }} - {{ i18n "TileMatrixSets" .Language }}</h1>
</hgroup>
<div class="row">
    <div class="col-md-12">
        <p>
            {{ i18n "TileMatrixSetsText" .Language }}
        </p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Tile Matrix Set</th>
                    <th>{{ i18n "Description" .Language }}</th>
                </tr>
            </thead>
            <tbody>
            {{ $language := .Language}}
            {{range $type := .Config.OgcAPI.Tiles.SupportedSrs }}
                {{ if (eq $type.Srs "EPSG:28992") }}
                    <tr>
                        <td><a href="tileMatrixSets/NetherlandsRDNewQuad">NetherlandsRDNewQuad</a></td>
                        <td>Amersfoort / RD New scheme for the Netherlands</td>
                    </tr>
                {{end}}
                {{ if (eq $type.Srs "EPSG:4258") }}
                    <tr>
                        <td><a href="tileMatrixSets/EuropeanETRS89_GRS80Quad_Draft">EuropeanETRS89_GRS80Quad_Draft</a>
                            ({{ i18n "SubjectToChange" $language }})</td>
                        <td>Geodetic Reference System 1980 ETRS89 for Europe</td>
                    </tr>
                {{end}}
                {{ if (eq $type.Srs "EPSG:3857") }}
                    <tr>
                        <td><a href="tileMatrixSets/WebMercatorQuad">WebMercatorQuad</a></td>
                        <td>Google Maps Compatible for the World</td>
                    </tr>
                {{end}}
            {{end}}
            </tbody>
        </table>
    </div>
</div>
{{end}}
