{{- /*gotype: github.com/PDOK/gokoala/engine.TemplateData*/ -}}
{{define "content"}}
<hgroup>
    <h1 class="title">{{ .Config.Title }} - Tiles</h1>
</hgroup>
<div class="row">
    <div class="col-md-12">
        <p>
            Deze hele dataset is beschikbaar via OGC API Tiles. Tiles kunnen zowel vector als raster data
            bevatten en in meerdere projecties beschikbaar worden gesteld. In het geval van vector tiles
            biedt PDOK ook styles aan.
        </p>
        <p>
            <strong>Bijgewerkt op:</strong> {{ toDate "2006-01-02T15:04:05Z07:00" .Config.LastUpdated | date "2006-01-02" }}
        </p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Tiles</th>
                    <th>CRS</th>
                    <th>Data type</th>
                </tr>
            </thead>
            <tbody>
                {{$baseUrl := .Config.BaseURL}}
                {{range $type := .Config.OgcAPI.Tiles.SupportedSrs}}
                {{ if (eq $type.Srs "EPSG:28992") }}
                <tr>
                    <td><a href="tiles/NetherlandsRDNewQuad">NetherlandsRDNewQuad</a></td>
                    <td><a href="https://www.opengis.net/def/crs/EPSG/0/28992">EPSG:28992</a></td>
                    <td>vector</td>
                </tr>
                {{end}}
                {{ if (eq $type.Srs "EPSG:4258") }}
                <tr>
                    <td><a href="tiles/EuropeanETRS89_GRS80Quad_Draft">EuropeanETRS89_GRS80Quad_Draft</a>
                        (naam/definitie kan in toekomst mogelijk wijzigen)</td>
                    <td><a href="https://www.opengis.net/def/crs/EPSG/0/4258">EPSG:4258</a></td>
                    <td>vector</td>
                </tr>
                {{end}}
                {{ if (eq $type.Srs "EPSG:3857") }}
                <tr>
                    <td><a href="tiles/WebMercatorQuad">WebMercatorQuad</a></td>
                    <td><a href="https://www.opengis.net/def/crs/EPSG/0/3857">EPSG:3857</a></td>
                    <td>vector</td>
                </tr>
                {{end}}
                {{end}}
            </tbody>
        </table>
    </div>
</div>
{{end}}
