@let collections = collections$ | async;
<div [ngClass]="{ show: open }" class="collapse mt-2">
  <div class="card card-body container-fluid">
    <div class="row mb-2">
      <div class="col fw-semibold">{{ collectionText }}</div>
      <div class="col-4 col-xxl-2 fw-semibold">{{ relevanceText }}</div>
    </div>
    @for (collectionSetting of form.controls; track $index) {
      @let collection = collections?.[$index];

      @if (collection) {
        <div class="row mb-2" [formGroup]="collectionSetting">
          <label [for]="collection.id" class="col col-form-label">
            <input type="checkbox" [formControl]="collectionSetting.controls.checked" class="d-inline-block me-1" />
            {{ collection.title }}
          </label>
          <div class="col-4 col-xxl-2">
            <input
              [id]="collection.id"
              type="number"
              [formControl]="collectionSetting.controls.relevance"
              class="form-control"
              step="0.1"
              min="0"
              max="1" />
          </div>
        </div>
      }
    }
  </div>
</div>
