{{- /*gotype: github.com/PDOK/gokoala/internal/engine.TemplateData*/ -}}
<!DOCTYPE html>
<html lang="nl" class="h-100">
<head>
    <base href="{{ .Config.BaseURL }}/" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ .Config.Title }} (OGC API)</title>

    <!-- canonical -->
    <link rel="canonical" href="{{ .Config.BaseURL }}" />
    {{ range $lang := .Config.AvailableLanguages }}
        <link rel="alternate" hreflang="{{ $lang }}" href="{{ $.Config.BaseURL }}?lang={{ $lang }}" />
    {{ end }}

    <!-- css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link href="css/gokoala.css" rel="stylesheet">

    <!-- favicons -->
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
    <link rel="shortcut icon" href="img/favicon.ico">

    <!-- open graph -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ .Config.BaseURL }}" />
    <meta property="og:title" content="{{ .Config.Title }} (OGC API)" />
    <meta property="og:description" content="{{ unmarkdown .Config.Abstract }}" />
    <meta property="og:image" content="img/logo-opengraph.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:alt" content="{{ i18n "Logo" }}" />

    <script>
        // match window title to page title
        window.addEventListener("load", (event) => {
            if (document.getElementById("title")) {
                document.title = document.getElementById("title").innerHTML;
            }
        });

        function setLanguage(lang) {
            document.cookie = 'lang='+lang+';path=/;max-age={{ .Config.CookieMaxAge }};same-site=strict;secure';
            return true;
        }
    </script>
</head>

<body class="d-flex flex-column h-100">
    <!-- header -->
    <header>
        <!-- skip link -->
        <a class="visually-hidden visually-hidden-focusable" href="#main" aria-label="{{ i18n "ToMain" }}">{{ i18n "ToMain" }}</a>

        <nav class="navbar d-flex flex-column w-100" aria-label="top navigation">
            <!-- logo -->
            <div class="container">
                <a class="navbar-brand py-3" href="{{ .Config.BaseURL }}" aria-label="{{ i18n "Logo" }}">
                    <img src="img/logo-header.svg" alt="{{ i18n "Logo" }}">
                </a>
            </div>

            <!-- top navigation -->
            <div class="container">
                {{ $lastcrumb := last .Breadcrumbs }}
                {{ $schemaOrgPosition := 0 }}

                {{/* the breadcrumbs are annotated with https://developers.google.com/search/docs/appearance/structured-data/breadcrumb#rdfa,
                    test any changes using https://search.google.com/test/rich-results */}}
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb" vocab="https://schema.org/" typeof="BreadcrumbList">
                        {{ if .Config.DatasetCatalogURL.URL }}
                            {{ $schemaOrgPosition = add1 $schemaOrgPosition }}
                            <li class="breadcrumb-item" property="itemListElement" typeof="ListItem">
                                <a href="{{ .Config.DatasetCatalogURL }}" aria-label="{{ i18n "To" }} Datasets" property="item" typeof="WebPage">
                                    <span property="name">Datasets</span>
                                </a>
                                <meta property="position" content="{{ $schemaOrgPosition }}">
                            </li>
                        {{ end }}
                        {{ if .Breadcrumbs }}
                            {{ $schemaOrgPosition = add1 $schemaOrgPosition }}
                            <li class="breadcrumb-item" property="itemListElement" typeof="ListItem">
                                <a href="{{ .Config.BaseURL }}" aria-label="{{ i18n "To" }} {{ .Config.ServiceIdentifier }}" property="item" typeof="WebPage">
                                    <span property="name">{{ .Config.ServiceIdentifier }}</span>
                                </a>
                                <meta property="position" content="{{ $schemaOrgPosition }}">
                            </li>
                        {{ else }}
                            {{ $schemaOrgPosition = add1 $schemaOrgPosition }}
                            <li class="breadcrumb-item active" property="itemListElement" typeof="ListItem">
                                <span property="name">{{ .Config.ServiceIdentifier }}</span>
                                <meta property="position" content="{{ $schemaOrgPosition }}">
                            </li>
                        {{ end }}

                        {{ range $breadcrumb := .Breadcrumbs }}
                            {{ $schemaOrgPosition = add1 $schemaOrgPosition }}
                            {{ if ne $breadcrumb.Name $lastcrumb.Name }}
                                <li class="breadcrumb-item" property="itemListElement" typeof="ListItem">
                                    <a href="{{ $breadcrumb.Path }}" aria-label="{{ i18n "To" }} {{ $breadcrumb.Name }}" property="item" typeof="WebPage">
                                        <span property="name">{{ $breadcrumb.Name }}</span>
                                    </a>
                                    <meta property="position" content="{{ $schemaOrgPosition }}">
                                </li>
                            {{ else }}
                                <li class="breadcrumb-item active" property="itemListElement" typeof="ListItem">
                                    <span property="name">{{ $breadcrumb.Name }}</span>
                                    <meta property="position" content="{{ $schemaOrgPosition }}">
                                </li>
                            {{ end }}
                        {{ end }}
                    </ol>
                </nav>

                <nav style="--bs-breadcrumb-divider: '|';" aria-label="switch language or format">
                    <ol class="breadcrumb">
                        {{ $languageSwitchCode := (i18n "LanguageSwitchCode") }}
                        {{ if gt (len .Config.AvailableLanguages) 1 }}
                            <!-- TODO: support switching between more than two languages -->
                            <li class="breadcrumb-item"><a href="{{ empty $.Breadcrumbs | ternary "" $lastcrumb.Path }}" onclick="setLanguage('{{ $languageSwitchCode }}');"
                                                           aria-label="{{ i18n "SwitchLanguage" }} {{ i18n "LanguageSwitchLabel" }}">{{ i18n "LanguageSwitchLabel" }}</a></li>
                        {{ end }}
                        {{ range $formatKey, $formatName := .AvailableFormats }}
                            <li class="breadcrumb-item"><a href="{{ empty $.Breadcrumbs | ternary "" $lastcrumb.Path }}{{ $.QueryString $formatKey }}" target="_blank"
                                                           aria-label="{{ i18n "SwitchFormat" }} {{ $formatName }}" id="format-{{ $formatKey }}">{{ $formatName }}</a></li>
                        {{ end }}
                    </ol>
                </nav>
            </div>
        </nav>
    </header>

    <!-- main content -->
    <main id="main">
        <div class="container py-3">
            <!-- include content -->
            {{block "content" .}}{{end}}
        </div>
    </main>

    <!-- footer -->
    <footer class="footer mt-auto py-3">
        <div class="container">
            <div class="row">
                <div class="col-1">
                    &nbsp; <!-- place additional footer links here -->
                </div>
                <div class="col-11 text-end">
                    <img src="img/logo-footer.png" alt="{{ i18n "FooterLogo" }}">
                </div>
            </div>
        </div>
    </footer>

</body>
</html>
