.idea/
*.iml
.vscode/
gokoala
gokoala-etl
gokoala-server
assets/view-component/
viewer/.nx
viewer/cypress/screenshots
viewer/.angular
viewer/dist
viewer/node_modules
viewer/cypress.env.json
hack/tmp
*.gpkg-shm
*.gpkg-wal