.idea/
*.iml
.vscode/
gokoala
assets/view-component/
viewer/.nx
viewer/cypress/screenshots
viewer/.angular
viewer/dist
viewer/node_modules
viewer/cypress.env.json
hack/tmp
viewer/src/assets/*.json
viewer/view-component-*.tgz
