# IDEs
.idea/
*.iml
.vscode/

# Binaries
gokoala
gokoala-etl
gokoala-server

# Frontend
assets/view-component/
viewer/.nx
viewer/cypress/screenshots
viewer/.angular
viewer/dist
viewer/node_modules
viewer/cypress.env.json

# Temp files
hack/tmp
*.gpkg-shm
*.gpkg-wal