{{ define "head" }}
    <link rel="stylesheet" type="text/css" href="view-component/styles.css">
{{ end }}
{{ define "content" }}
    <hgroup>
        <h1 class="title" id="title">{{ .Config.Title }} - Features Search</h1>
    </hgroup>
    <section class="row py-3">
        <div class="col-md-6 col-sm-12">
            <div class="card mb-3">
                <h2 class="card-header h5">
                    {{ i18n "Search" }}
                </h2>
                <div class="card-body">
                    <p>
                        {{ i18n "SearchText" }}
                    </p>
                </div>
            </div>
            <!-- filters -->
            <div id="form" class="col-12">
                <div class="row">
                    <div class="col">
                        <app-location-search-view
                                id="location-search"
                                searching-text="{{ i18n "Searching" }}"
                                no-results-text="{{ i18n "NoResultsFound" }}"
                                collection-text="{{ i18n "CollectionsHeader" }}"
                                relevance-text="{{ i18n "RelevanceHeader" }}"
                                placeholder-text="{{ i18n "SearchByLocation" }}"
                                search-help-text="{{ i18n "SearchHelpText" }}"
                                no-collections-selected-text="{{ i18n "NoCollectionSelectedText" }}"
                                class="d-block"
                        ></app-location-search-view>
                    </div>
                </div>
                <hr/>
                <!-- projection -->
                <div class="row mb-2">
                    <label for="srs-select" class="col-sm-4 col-form-label"><abbr title="{{ i18n "CrsAbbr" }}">CRS</abbr></label>
                    <div class="col-sm">
                        <select id="srs-select" class="form-select">
                            <option value="http://www.opengis.net/def/crs/OGC/1.3/CRS84" selected>
                                http://www.opengis.net/def/crs/OGC/1.3/CRS84
                            </option>
                            {{ if .Config.OgcAPI.FeaturesSearch }}
                                {{ range $index, $srs := .Config.OgcAPI.FeaturesSearch.CollectionsSRS }}
                                    <option value="http://www.opengis.net/def/crs/EPSG/0/{{ trimPrefix "EPSG:" $srs }}">http://www.opengis.net/def/crs/EPSG/0/{{ trimPrefix "EPSG:" $srs }}</option>
                                {{ end }}
                            {{ end }}
                        </select>
                    </div>
                </div>
                <div class="row mb-4">
                    <label for="current-url" class="col-sm-4 col-form-label">{{ i18n "CurrentUrl" }}</label>
                    <div class="col-sm-8">
                        <input id="current-url" type="text" class="form-control" readonly/>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <app-feature-view
                    id="feature-view"
                    background-map="BRT"
                    items-url=""
                    mode="auto"
                    class="card"
                    initial-view="VISIBLE"
            > </app-feature-view>
        </div>
    </section>
    <script>
        const CRS84 = "http://www.opengis.net/def/crs/OGC/1.3/CRS84";
        let projection = CRS84;

        const featureView = document.getElementById("feature-view");
        const currentUrl = document.getElementById("current-url");
        const locationSearch = document.getElementById("location-search");
        locationSearch.addEventListener("locationSelected", (event) => {
            featureView.setAttribute("items-url", event?.detail || "");
            currentUrl.value = event?.detail || "";
        })

        const srsSelect = document.getElementById("srs-select");
        srsSelect.addEventListener("change", (event) => {
            projection = event?.target?.value || CRS84;
            locationSearch.setAttribute("projection", projection);
            featureView.setAttribute("projection", projection);
        })
    </script>
    <script src="view-component/polyfills.js"></script>
    <script type="module" src="view-component/main.js"></script>
{{ end }}