{{- /*gotype: github.com/PDOK/gokoala/engine.TemplateData*/ -}}
{{define "content"}}
<hgroup>
    <h1 class="title">{{ .Config.ShortTitle | default .Config.Title }} - Conformance</h1>
</hgroup>
<div class="row">
    <div class="col-md-12">
        Hier staan de verwijzingen naar de OGC API conformiteitsklassen waaraan deze service voldoet.
        <p>
            <ul>
                <li><a href="http://www.opengis.net/spec/ogcapi-common-1/1.0/conf/core" target="_blank">http://www.opengis.net/spec/ogcapi-common-1/1.0/conf/core</a></li>
                <li><a href="http://www.opengis.net/spec/ogcapi-common-1/1.0/conf/json" target="_blank">http://www.opengis.net/spec/ogcapi-common-1/1.0/conf/json</a></li>
                <li><a href="http://www.opengis.net/spec/ogcapi-common-1/1.0/conf/html" target="_blank">http://www.opengis.net/spec/ogcapi-common-1/1.0/conf/html</a></li>
                <li><a href="http://www.opengis.net/spec/ogcapi-common-1/1.0/conf/oas30" target="_blank">http://www.opengis.net/spec/ogcapi-common-1/1.0/conf/oas30</a></li>

                {{ if .Config.OgcAPI.Styles }}
                    <li><a href="http://www.opengis.net/spec/ogcapi-styles-1/1.0/conf/core" target="_blank">http://www.opengis.net/spec/ogcapi-styles-1/1.0/conf/core</a></li>
                    <li><a href="http://www.opengis.net/spec/ogcapi-styles-1/1.0/conf/mapbox-styles" target="_blank">http://www.opengis.net/spec/ogcapi-styles-1/1.0/conf/mapbox-styles</a></li>
                {{ end }}

                {{ if .Config.HasCollections }}
                    <li><a href="http://www.opengis.net/spec/ogcapi-common-2/1.0/conf/collections" target="_blank">http://www.opengis.net/spec/ogcapi-common-2/1.0/conf/collections</a></li>
                {{ end }}

                {{ if .Config.OgcAPI.GeoVolumes }}
                    <li><a href="http://www.opengis.net/spec/ogcapi-geovolumes-1/1.0/conf/core" target="_blank">http://www.opengis.net/spec/ogcapi-geovolumes-1/1.0/conf/core</a></li>
                {{ end }}

                {{ if .Config.OgcAPI.Tiles }}
                    <li><a href="http://www.opengis.net/spec/ogcapi-tiles-1/1.0/conf/core" target="_blank">http://www.opengis.net/spec/ogcapi-tiles-1/1.0/conf/core</a></li>
                    <li><a href="http://www.opengis.net/spec/ogcapi-tiles-1/1.0/conf/tileset" target="_blank">http://www.opengis.net/spec/ogcapi-tiles-1/1.0/conf/tileset</a></li>
                    <li><a href="http://www.opengis.net/spec/ogcapi-tiles-1/1.0/conf/tilesets-list" target="_blank">http://www.opengis.net/spec/ogcapi-tiles-1/1.0/conf/tilesets-list</a></li>
                    <li><a href="http://www.opengis.net/spec/ogcapi-tiles-1/1.0/conf/dataset-tilesets" target="_blank">http://www.opengis.net/spec/ogcapi-tiles-1/1.0/conf/dataset-tilesets</a></li>
                    {{/* <li>http://www.opengis.net/spec/ogcapi-tiles-1/1.0/conf/geodata-tilesets</li> */}}
                    {{/* <li>http://www.opengis.net/spec/ogcapi-tiles-1/1.0/conf/geodata-selection</li> */}}
                    {{range $type := .Config.OgcAPI.Tiles.Types}}
                        {{ if (eq $type "raster") }}
                            {{/* <li>http://www.opengis.net/spec/ogcapi-tiles-1/1.0/conf/jpeg</li> */}}
                            <li><a href="http://www.opengis.net/spec/ogcapi-tiles-1/1.0/conf/png" target="_blank">http://www.opengis.net/spec/ogcapi-tiles-1/1.0/conf/png</a></li>
                        {{ end }}
                        {{ if (eq $type "vector") }}
                            <li><a href="http://www.opengis.net/spec/ogcapi-tiles-1/1.0/conf/mvt" target="_blank">http://www.opengis.net/spec/ogcapi-tiles-1/1.0/conf/mvt</a></li>
                        {{ end }}
                    {{end}}
                    {{/* <li>http://www.opengis.net/spec/ogcapi-tiles-1/1.0/conf/geojson</li> */}}
                    {{/* <li>http://www.opengis.net/spec/ogcapi-tiles-1/1.0/conf/tiff</li> */}}
                    {{/* <li>http://www.opengis.net/spec/ogcapi-tiles-1/1.0/conf/netcdf</li> */}}
                {{ end }}
            </ul>
        </p>
    </div>
</div>
{{end}}
