{{- /*gotype: github.com/PDOK/gokoala/engine.TemplateData*/ -}}
{{define "content"}}
<hgroup>
    <h1 class="title">{{ .Config.Title }} - Conformance</h1>
</hgroup>
<p>
    Hier staan verwijzingen naar de OGC API-conformiteitsklassen waaraan deze service voldoet.
</p>
<div class="row row-cols-2 g-4">
    <div class="col">
        <div class="card">
            <h5 class="card-header">Common</h5>
            <div class="card-body">
                <table class="table table-borderless table-sm">
                    <thead>
                    <tr>
                        <th>URI</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><a href="http://www.opengis.net/spec/ogcapi-common-1/1.0/conf/core" target="_blank">http://www.opengis.net/spec/ogcapi-common-1/1.0/conf/core</a></td>
                        <td>Standaard</td>
                    </tr>
                    <tr>
                        <td><a href="http://www.opengis.net/spec/ogcapi-common-1/1.0/conf/json" target="_blank">http://www.opengis.net/spec/ogcapi-common-1/1.0/conf/json</a></td>
                        <td>Standaard</td>
                    </tr>
                    <tr>
                        <td><a href="http://www.opengis.net/spec/ogcapi-common-1/1.0/conf/html" target="_blank">http://www.opengis.net/spec/ogcapi-common-1/1.0/conf/html</a></td>
                        <td>Standaard</td>
                    </tr>
                    <tr>
                        <td><a href="http://www.opengis.net/spec/ogcapi-common-1/1.0/conf/oas30" target="_blank">http://www.opengis.net/spec/ogcapi-common-1/1.0/conf/oas30</a></td>
                        <td>Standaard</td>
                    </tr>
                    {{ if .Config.HasCollections }}
                    <tr>
                        <td>http://www.opengis.net/spec/ogcapi-common-2/1.0/conf/collections</td>
                        <td>Concept</td>
                    </tr>
                    {{ end }}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {{ if .Config.OgcAPI.Styles }}
    <div class="col">
        <div class="card">
            <h5 class="card-header">Styles</h5>
            <div class="card-body">
                <table class="table table-borderless table-sm">
                    <thead>
                    <tr>
                        <th>URI</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>http://www.opengis.net/spec/ogcapi-styles-1/1.0/conf/core</td>
                        <td>Concept</td>
                    </tr>
                    <tr>
                        <td>http://www.opengis.net/spec/ogcapi-styles-1/1.0/conf/mapbox-styles</td>
                        <td>Concept</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {{ end }}

    {{ if .Config.OgcAPI.GeoVolumes }}
    <div class="col">
        <div class="card">
            <h5 class="card-header">3D GeoVolumes</h5>
            <div class="card-body">
                <table class="table table-borderless table-sm">
                    <thead>
                    <tr>
                        <th>URI</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><a href="http://www.opengis.net/spec/ogcapi-geovolumes-1/1.0/conf/core" target="_blank">http://www.opengis.net/spec/ogcapi-geovolumes-1/1.0/conf/core</a></td>
                        <td>Concept</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {{ end }}

    {{ if .Config.OgcAPI.Tiles }}
    <div class="col">
        <div class="card">
            <h5 class="card-header">Tiles</h5>
            <div class="card-body">
                <table class="table table-borderless table-sm">
                    <thead>
                    <tr>
                        <th>URI</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><a href="http://www.opengis.net/spec/ogcapi-tiles-1/1.0/conf/core" target="_blank">http://www.opengis.net/spec/ogcapi-tiles-1/1.0/conf/core</a></td>
                        <td>Standaard</td>
                    </tr>
                    <tr>
                        <td><a href="http://www.opengis.net/spec/ogcapi-tiles-1/1.0/conf/tilesets-list" target="_blank">http://www.opengis.net/spec/ogcapi-tiles-1/1.0/conf/tilesets-list</a></td>
                        <td>Standaard</td>
                    </tr>
                    <tr>
                        <td><a href="http://www.opengis.net/spec/ogcapi-tiles-1/1.0/conf/dataset-tilesets" target="_blank">http://www.opengis.net/spec/ogcapi-tiles-1/1.0/conf/dataset-tilesets</a></td>
                        <td>Standaard</td>
                    </tr>
{{/*  Enable the classes below once we support tiles inside collections */}}
{{/*                        <tr>*/}}
{{/*                            <td><a href="http://www.opengis.net/spec/ogcapi-tiles-1/1.0/conf/geodata-tilesets" target="_blank">http://www.opengis.net/spec/ogcapi-tiles-1/1.0/conf/geodata-tilesets</a></td>*/}}
{{/*                            <td>Standaard</td>*/}}
{{/*                        </tr>*/}}
{{/*                        <tr>*/}}
{{/*                            <td><a href="http://www.opengis.net/spec/ogcapi-tiles-1/1.0/conf/geodata-selection" target="_blank">http://www.opengis.net/spec/ogcapi-tiles-1/1.0/conf/geodata-selection</a></td>*/}}
{{/*                            <td>Standaard</td>*/}}
{{/*                        </tr>*/}}
                    {{range $type := .Config.OgcAPI.Tiles.Types}}
                        {{ if (eq $type "raster") }}
{{/*                                <tr>*/}}
{{/*                                    <td><a href="http://www.opengis.net/spec/ogcapi-tiles-1/1.0/conf/jpeg" target="_blank">http://www.opengis.net/spec/ogcapi-tiles-1/1.0/conf/jpeg</a></td>*/}}
{{/*                                    <td>Standaard</td>*/}}
{{/*                                </tr>*/}}
                            <tr>
                                <td><a href="http://www.opengis.net/spec/ogcapi-tiles-1/1.0/conf/png" target="_blank">http://www.opengis.net/spec/ogcapi-tiles-1/1.0/conf/png</a></td>
                                <td>Standaard</td>
                            </tr>
                        {{ end }}
                        {{ if (eq $type "vector") }}
                            <tr>
                                <td><a href="http://www.opengis.net/spec/ogcapi-tiles-1/1.0/conf/mvt" target="_blank">http://www.opengis.net/spec/ogcapi-tiles-1/1.0/conf/mvt</a></td>
                                <td>Standaard</td>
                            </tr>
                        {{ end }}
                    {{end}}
{{/*                        <tr>*/}}
{{/*                            <td><a href="http://www.opengis.net/spec/ogcapi-tiles-1/1.0/conf/geojson" target="_blank">http://www.opengis.net/spec/ogcapi-tiles-1/1.0/conf/geojson</a></td>*/}}
{{/*                            <td>Standaard</td>*/}}
{{/*                        </tr>*/}}
{{/*                        <tr>*/}}
{{/*                            <td><a href="http://www.opengis.net/spec/ogcapi-tiles-1/1.0/conf/tiff" target="_blank">http://www.opengis.net/spec/ogcapi-tiles-1/1.0/conf/tiff</a></td>*/}}
{{/*                            <td>Standaard</td>*/}}
{{/*                        </tr>*/}}
{{/*                        <tr>*/}}
{{/*                            <td><a href="http://www.opengis.net/spec/ogcapi-tiles-1/1.0/conf/netcdf" target="_blank">http://www.opengis.net/spec/ogcapi-tiles-1/1.0/conf/netcdf</a></td>*/}}
{{/*                            <td>Standaard</td>*/}}
{{/*                        </tr>*/}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {{ end }}

    {{ if .Config.OgcAPI.Processes }}
    <div class="col">
        <div class="card">
            <h5 class="card-header">Processes</h5>
            <div class="card-body">
                <table class="table table-borderless table-sm">
                    <thead>
                    <tr>
                        <th>URI</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><a href="http://www.opengis.net/spec/ogcapi-processes-1/1.0/conf/job-list" target="_blank">http://www.opengis.net/spec/ogcapi-processes-1/1.0/conf/job-list</a></td>
                        <td>Concept</td>
                    </tr>
                    <tr>
                        <td><a href="http://www.opengis.net/spec/ogcapi-processes-1/1.0/conf/ogc-process-description" target="_blank">http://www.opengis.net/spec/ogcapi-processes-1/1.0/conf/ogc-process-description</a></td>
                        <td>Concept</td>
                    </tr>
                    {{ if .Config.OgcAPI.Processes.SupportsDismiss }}
                    <tr>
                        <td><a href="http://www.opengis.net/spec/ogcapi-processes-1/1.0/conf/dismiss" target="_blank">http://www.opengis.net/spec/ogcapi-processes-1/1.0/conf/dismiss</a></td>
                        <td>Concept</td>
                    </tr>
                    {{ end }}
                    {{ if .Config.OgcAPI.Processes.SupportsCallback }}
                    <tr>
                        <td><a href="http://www.opengis.net/spec/ogcapi-processes-1/1.0/conf/callback" target="_blank">http://www.opengis.net/spec/ogcapi-processes-1/1.0/conf/callback</a></td>
                        <td>Concept</td>
                    </tr>
                    {{ end }}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {{ end }}
</div>
{{end}}
