{{- /*gotype: github.com/PDOK/gokoala/engine.TemplateData*/ -}}
{{define "content"}}
<hgroup>
    <h1 class="title">{{ .Config.Title }} - Conformance</h1>
</hgroup>
<div class="row">
    <div class="col-md-12">
        <p>
            {{ i18n "ConformanceAbstract" }}
        </p>
    </div>
</div>
<section class="row row-cols-md-6 g-4 py-3">
    <div class="col-md-6 col-sm-12">
        <div class="card">
            <h5 class="card-header">Common</h5>
            <div class="card-body">
                <table class="table table-borderless table-sm">
                    <thead>
                    <tr>
                        <th>Conformance</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><a href="http://www.opengis.net/spec/ogcapi-common-1/1.0/conf/core" target="_blank">http://www.opengis.net/spec/ogcapi-common-1/1.0/conf/core</a></td>
                        <td>{{ i18n "Standard" }}</td>
                    </tr>
                    <tr>
                        <td><a href="http://www.opengis.net/spec/ogcapi-common-1/1.0/conf/json" target="_blank">http://www.opengis.net/spec/ogcapi-common-1/1.0/conf/json</a></td>
                        <td>{{ i18n "Standard" }}</td>
                    </tr>
                    <tr>
                        <td><a href="http://www.opengis.net/spec/ogcapi-common-1/1.0/conf/html" target="_blank">http://www.opengis.net/spec/ogcapi-common-1/1.0/conf/html</a></td>
                        <td>{{ i18n "Standard" }}</td>
                    </tr>
                    <tr>
                        <td><a href="http://www.opengis.net/spec/ogcapi-common-1/1.0/conf/oas30" target="_blank">http://www.opengis.net/spec/ogcapi-common-1/1.0/conf/oas30</a></td>
                        <td>{{ i18n "Standard" }}</td>
                    </tr>
                    {{ if .Config.HasCollections }}
                    <tr>
                        <td>http://www.opengis.net/spec/ogcapi-common-2/1.0/conf/collections</td>
                        <td>{{ i18n "Draft" }}</td>
                    </tr>
                    {{ end }}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {{ if .Config.OgcAPI.Features }}
        <div class="col-md-6 col-sm-12">
            <div class="card">
                <h5 class="card-header">Features</h5>
                <div class="card-body">
                    <table class="table table-borderless table-sm">
                        <thead>
                        <tr>
                            <th>Conformance</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><a href="http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/core" target="_blank">http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/core</a></td>
                            <td>{{ i18n "Standard" }}</td>
                        </tr>
                        <tr>
                            <td><a href="http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/html" target="_blank">http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/html</a></td>
                            <td>{{ i18n "Standard" }}</td>
                        </tr>
                        <tr>
                            <td><a href="http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/geojson" target="_blank">http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/geojson</a></td>
                            <td>{{ i18n "Standard" }}</td>
                        </tr>
{{/*  Enable once we support GML output */}}
{{/*                    <tr>*/}}
{{/*                        <td><a href="http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/gmlsf0" target="_blank">http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/gmlsf0</a></td>*/}}
{{/*                        <td>{{ i18n "Standard" }}</td>*/}}
{{/*                    </tr>*/}}
{{/*                    <tr>*/}}
{{/*                        <td><a href="http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/gmlsf2" target="_blank">http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/gmlsf2</a></td>*/}}
{{/*                        <td>{{ i18n "Standard" }}</td>*/}}
{{/*                    </tr>*/}}
                        <tr>
                            <td><a href="http://www.opengis.net/spec/ogcapi-features-2/1.0/conf/crs" target="_blank">http://www.opengis.net/spec/ogcapi-features-2/1.0/conf/crs</a></td>
                            <td>{{ i18n "Standard" }}</td>
                        </tr>
                        <tr>
                            <td>http://www.opengis.net/spec/json-fg-1/0.2</td>
                            <td>{{ i18n "Draft" }}</td>
                        </tr>
{{/*  Enable once we support Features part 3 */}}
{{/*                    <tr>*/}}
{{/*                        <td><a href="http://www.opengis.net/spec/ogcapi-features-3/1.0/conf/filter" target="_blank">http://www.opengis.net/spec/ogcapi-features-3/1.0/conf/filterr</a></td>*/}}
{{/*                        <td>{{ i18n "Draft" }}</td>*/}}
{{/*                    </tr>*/}}
{{/*                    <tr>*/}}
{{/*                        <td><a href="http://www.opengis.net/spec/ogcapi-features-3/1.0/conf/features-filter" target="_blank">http://www.opengis.net/spec/ogcapi-features-3/1.0/conf/features-filter</a></td>*/}}
{{/*                        <td>{{ i18n "Draft" }}</td>*/}}
{{/*                    </tr>*/}}
{{/*                    <tr>*/}}
{{/*                        <td><a href="http://www.opengis.net/spec/ogcapi-features-3/1.0/conf/queryables" target="_blank">http://www.opengis.net/spec/ogcapi-features-3/1.0/conf/queryables</a></td>*/}}
{{/*                        <td>{{ i18n "Draft" }}</td>*/}}
{{/*                    </tr>*/}}
{{/*                    <tr>*/}}
{{/*                        <td><a href="http://www.opengis.net/spec/ogcapi-features-3/1.0/conf/queryables-query-parameters" target="_blank">http://www.opengis.net/spec/ogcapi-features-3/1.0/conf/queryables-query-parameters</a></td>*/}}
{{/*                        <td>{{ i18n "Draft" }}</td>*/}}
{{/*                    </tr>*/}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {{ end }}

    {{ if .Config.OgcAPI.Styles }}
    <div class="col-md-6 col-sm-12">
        <div class="card">
            <h5 class="card-header">Styles</h5>
            <div class="card-body">
                <table class="table table-borderless table-sm">
                    <thead>
                    <tr>
                        <th>Conformance</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>http://www.opengis.net/spec/ogcapi-styles-1/1.0/conf/core</td>
                        <td>{{ i18n "Draft" }}</td>
                    </tr>
                    <tr>
                        <td>http://www.opengis.net/spec/ogcapi-styles-1/1.0/conf/mapbox-styles</td>
                        <td>{{ i18n "Draft" }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {{ end }}

    {{ if .Config.OgcAPI.GeoVolumes }}
    <div class="col-md-6 col-sm-12">
        <div class="card">
            <h5 class="card-header">3D GeoVolumes</h5>
            <div class="card-body">
                <table class="table table-borderless table-sm">
                    <thead>
                    <tr>
                        <th>Conformance</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>http://www.opengis.net/spec/ogcapi-geovolumes-1/1.0/conf/core</td>
                        <td>{{ i18n "Draft" }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {{ end }}

    {{ if .Config.OgcAPI.Tiles }}
    <div class="col-md-6 col-sm-12">
        <div class="card">
            <h5 class="card-header">Tiles</h5>
            <div class="card-body">
                <table class="table table-borderless table-sm">
                    <thead>
                    <tr>
                        <th>Conformance</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><a href="http://www.opengis.net/spec/ogcapi-tiles-1/1.0/conf/core" target="_blank">http://www.opengis.net/spec/ogcapi-tiles-1/1.0/conf/core</a></td>
                        <td>{{ i18n "Standard" }}</td>
                    </tr>
                    <tr>
                        <td><a href="http://www.opengis.net/spec/ogcapi-tiles-1/1.0/conf/tilesets-list" target="_blank">http://www.opengis.net/spec/ogcapi-tiles-1/1.0/conf/tilesets-list</a></td>
                        <td>{{ i18n "Standard" }}</td>
                    </tr>
                    <tr>
                        <td><a href="http://www.opengis.net/spec/ogcapi-tiles-1/1.0/conf/dataset-tilesets" target="_blank">http://www.opengis.net/spec/ogcapi-tiles-1/1.0/conf/dataset-tilesets</a></td>
                        <td>{{ i18n "Standard" }}</td>
                    </tr>
{{/*  Enable the classes below once we support tiles inside collections */}}
{{/*                        <tr>*/}}
{{/*                            <td><a href="http://www.opengis.net/spec/ogcapi-tiles-1/1.0/conf/geodata-tilesets" target="_blank">http://www.opengis.net/spec/ogcapi-tiles-1/1.0/conf/geodata-tilesets</a></td>*/}}
{{/*                            <td>{{ i18n "Standard" }}</td>*/}}
{{/*                        </tr>*/}}
{{/*                        <tr>*/}}
{{/*                            <td><a href="http://www.opengis.net/spec/ogcapi-tiles-1/1.0/conf/geodata-selection" target="_blank">http://www.opengis.net/spec/ogcapi-tiles-1/1.0/conf/geodata-selection</a></td>*/}}
{{/*                            <td>{{ i18n "Standard" }}</td>*/}}
{{/*                        </tr>*/}}
                    {{range $type := .Config.OgcAPI.Tiles.Types}}
                        {{ if (eq $type "raster") }}
{{/*                                <tr>*/}}
{{/*                                    <td><a href="http://www.opengis.net/spec/ogcapi-tiles-1/1.0/conf/jpeg" target="_blank">http://www.opengis.net/spec/ogcapi-tiles-1/1.0/conf/jpeg</a></td>*/}}
{{/*                                    <td>{{ i18n "Standard" }}</td>*/}}
{{/*                                </tr>*/}}
                            <tr>
                                <td><a href="http://www.opengis.net/spec/ogcapi-tiles-1/1.0/conf/png" target="_blank">http://www.opengis.net/spec/ogcapi-tiles-1/1.0/conf/png</a></td>
                                <td>{{ i18n "Standard" }}</td>
                            </tr>
                        {{ end }}
                        {{ if (eq $type "vector") }}
                            <tr>
                                <td><a href="http://www.opengis.net/spec/ogcapi-tiles-1/1.0/conf/mvt" target="_blank">http://www.opengis.net/spec/ogcapi-tiles-1/1.0/conf/mvt</a></td>
                                <td>{{ i18n "Standard" }}</td>
                            </tr>
                        {{ end }}
                    {{end}}
{{/*                        <tr>*/}}
{{/*                            <td><a href="http://www.opengis.net/spec/ogcapi-tiles-1/1.0/conf/geojson" target="_blank">http://www.opengis.net/spec/ogcapi-tiles-1/1.0/conf/geojson</a></td>*/}}
{{/*                            <td>{{ i18n "Standard" }}</td>*/}}
{{/*                        </tr>*/}}
{{/*                        <tr>*/}}
{{/*                            <td><a href="http://www.opengis.net/spec/ogcapi-tiles-1/1.0/conf/tiff" target="_blank">http://www.opengis.net/spec/ogcapi-tiles-1/1.0/conf/tiff</a></td>*/}}
{{/*                            <td>{{ i18n "Standard" }}</td>*/}}
{{/*                        </tr>*/}}
{{/*                        <tr>*/}}
{{/*                            <td><a href="http://www.opengis.net/spec/ogcapi-tiles-1/1.0/conf/netcdf" target="_blank">http://www.opengis.net/spec/ogcapi-tiles-1/1.0/conf/netcdf</a></td>*/}}
{{/*                            <td>{{ i18n "Standard" }}</td>*/}}
{{/*                        </tr>*/}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {{ end }}

    {{ if .Config.OgcAPI.Processes }}
    <div class="col-md-6 col-sm-12">
        <div class="card">
            <h5 class="card-header">Processes</h5>
            <div class="card-body">
                <table class="table table-borderless table-sm">
                    <thead>
                    <tr>
                        <th>Conformance</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>http://www.opengis.net/spec/ogcapi-processes-1/1.0/conf/job-list</td>
                        <td>{{ i18n "Draft" }}</td>
                    </tr>
                    <tr>
                        <td>http://www.opengis.net/spec/ogcapi-processes-1/1.0/conf/ogc-process-description</td>
                        <td>{{ i18n "Draft" }}</td>
                    </tr>
                    {{ if .Config.OgcAPI.Processes.SupportsDismiss }}
                    <tr>
                        <td>http://www.opengis.net/spec/ogcapi-processes-1/1.0/conf/dismiss</td>
                        <td>{{ i18n "Draft" }}</td>
                    </tr>
                    {{ end }}
                    {{ if .Config.OgcAPI.Processes.SupportsCallback }}
                    <tr>
                        <td>http://www.opengis.net/spec/ogcapi-processes-1/1.0/conf/callback</td>
                        <td>{{ i18n "Draft" }}</td>
                    </tr>
                    {{ end }}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {{ end }}
</section>
{{end}}
