{{- /*gotype: github.com/PDOK/gokoala/engine.TemplateData*/ -}}
{{define "content"}}
<hgroup>
    <h1 class="title">{{ .Config.Title }}</h1>
</hgroup>
<div class="row py-3">
    {{ if and .Config.Thumbnail .Config.Resources }}
    <div class="col-md-8">
    {{ else }}
    <div class="col-md-12">
    {{ end }}
        {{ markdown .Config.Abstract }}
        <table class="table table-borderless table-sm w-100">
            <caption class="visually-hidden">Dataset details</caption>
            <tbody>
                {{ if .Config.Keywords }}
                <tr>
                    <td class="w-25">
                        <b>Trefwoorden</b>
                    </td>
                    <td>
                        {{ .Config.Keywords | join ", " }}
                    </td>
                </tr>
                {{ end }}
                <tr>
                    <td class="w-25">
                        <b>Licentie</b>
                    </td>
                    <td>
                        <a href="{{ .Config.License.URL | default "#" }}">{{ .Config.License.Name | default "onbekend" }}</a>
                    </td>
                </tr>
                {{ if .Config.Support}}
                <tr>
                    <td class="w-25">
                        <b>Support</b>
                    </td>
                    <td>
                        {{ markdown .Config.Support }}
                    </td>
                </tr>
                {{ end }}
                {{ if .Config.DatasetDetails }}
                {{ range $detailField := .Config.DatasetDetails }}
                <tr>
                    <td class="w-25">
                        <b>{{ $detailField.Name }}</b>
                    </td>
                    <td>
                        {{ markdown $detailField.Value }}
                    </td>
                </tr>
                {{ end }}
                {{ end }}
            </tbody>
        </table>
    </div>
    {{ if and .Config.Thumbnail .Config.Resources }}
    <div class="col-md-4">
        <img src="resources/{{ .Config.Thumbnail }}" class="img-fluid" alt="thumbnail van {{ .Config.Title }}"/>
    </div>
    {{ end }}
</div>

<div class="row row-cols-md-4 g-4">
    <div class="col-md-4 col-sm-12">
        <div class="card h-100">
            <h5 class="card-header">
                <a href="api">Specificatie</a>
            </h5>
            <div class="card-body">
                <p>
                    De API specificatie beschrijft de OGC API op een manier dat zowel mensen als computers de
                    mogelijkheden van de API kunnen verkennen. De API toont zowel in- als output mogelijkheden
                    en helpt om snel een eerste werkende API call te genereren met het gewenste resultaat.
                    De pagina is zowel in HTML als JSON beschikbaar.
                </p>
                <small class="text-body-secondary">Bekijk als <a href="api?f=json" target="_blank">JSON</a></small>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-12">
        <div class="card h-100">
            <h5 class="card-header">
                <a href="conformance">Conformance</a>
            </h5>
            <div class="card-body">
                <p>
                    Op deze pagina beschrijft PDOK aan welke OGC standaarden PDOK zich confimeert bij het inrichten
                    van de API. De pagina is zowel in HTML als JSON beschikbaar en verwijst naar de betreffende
                    standaarden inclusief beschrijvingen.
                </p>
                <small class="text-body-secondary">Bekijk als <a href="conformance?f=json" target="_blank">JSON</a></small>
            </div>
        </div>
    </div>

    {{ if .Config.HasCollections }}
    <div class="col-md-4 col-sm-12">
        <div class="card h-100">
            <h5 class="card-header">
                <a href="collections">Collecties</a>
            </h5>
            <div class="card-body">
                <p>
                    Deze API biedt één of meerdere collecties waarmee differentiatie gemaakt kan worden door de
                    dataset van PDOK op te splitsen in verschillende objecten die bijvoorbeeld via features of
                    tiles separaat aangeroepen kunnen worden. De pagina is zowel in HTML als JSON beschikbaar.
                </p>
                <small class="text-body-secondary">Bekijk als <a href="collections?f=json" target="_blank">JSON</a></small>
            </div>
        </div>
    </div>
    {{ end }}

    {{ if .Config.OgcAPI.Tiles }}
    <div class="col-md-4 col-sm-12">
        <div class="card h-100">
            <h5 class="card-header">
                <a href="tiles">Tiles</a>
            </h5>
            <div class="card-body">
                <p>
                    Deze hele dataset is beschikbaar via OGC API Tiles. Tiles kunnen zowel vector als raster data
                    bevatten en in meerdere projecties beschikbaar worden gesteld. In het geval van vector tiles
                    biedt PDOK ook styles aan. De pagina is zowel in HTML als JSON beschikbaar.
                </p>
                <small class="text-body-secondary">Bekijk als <a href="tiles?f=json" target="_blank">JSON</a></small>
            </div>
        </div>
    </div>
    {{ end }}

    {{ if .Config.OgcAPI.Styles }}
    <div class="col-md-4 col-sm-12">
        <div class="card h-100">
            <h5 class="card-header">
                <a href="styles">Styles</a>
            </h5>
            <div class="card-body">
                <p>
                    Betreft de offici&#235;le style van/door de aanbieder gespecificeerd. Styles worden beschikbaar gesteld
                    in het Mapbox formaat. De pagina is zowel in HTML als JSON beschikbaar.
                </p>
                <small class="text-body-secondary">Bekijk als <a href="styles?f=json" target="_blank">JSON</a></small>
            </div>
        </div>
    </div>
    {{ end }}

    {{ if .Config.OgcAPI.Tiles }}
    <div class="col-md-4 col-sm-12">
        <div class="card h-100">
            <h5 class="card-header">
                <a href="tileMatrixSets">Tile Matrix Sets</a>
            </h5>
            <div class="card-body">
                <p>
                    Beschrijving van de Tile Matrix Sets die via deze API worden ontsloten. Merk op dat alle zoomniveaus
                    van de tile matrix zijn beschreven. Zie de <i>Tile Matrix Set Limits</i> op de <a href="tiles">Tiles</a>
                    pagina's om te zien welke zoomniveaus door deze API worden ondersteund.
                    De pagina is zowel in HTML als JSON beschikbaar.
                </p>
                <small class="text-body-secondary">Bekijk als <a href="tileMatrixSets?f=json" target="_blank">JSON</a></small>
            </div>
        </div>
    </div>
    {{ end }}
</div>
{{end}}
