{{- /*gotype: github.com/PDOK/gokoala/engine.TemplateData*/ -}}
{{define "content"}}
<hgroup>
    <h1 class="title">{{ .Config.Title }}</h1>
</hgroup>
<div class="row py-3">
    {{ if and .Config.Thumbnail .Config.Resources }}
    <div class="col-md-8">
    {{ else }}
    <div class="col-md-12">
    {{ end }}
        {{ markdown .Config.Abstract }}
        <table class="table table-borderless table-sm w-75">
            <tbody>
                {{ if .Config.Keywords }}
                <tr>
                    <td class="w-25">
                        <b>{{ i18n "Keywords" .Language }}</b>
                    </td>
                    <td>
                        {{ .Config.Keywords | join ", " }}
                    </td>
                </tr>
                {{ end }}
                <tr>
                    <td class="w-25">
                        <b>{{ i18n "License" .Language }}</b>
                    </td>
                    <td>
                        <a href="{{ .Config.License.URL }}">{{ .Config.License.Name }}</a>
                    </td>
                </tr>
                {{ if .Config.Support}}
                <tr>
                    <td class="w-25">
                        <b>{{ i18n "Support" .Language }}</b>
                    </td>
                    <td>
                        {{ markdown .Config.Support }}
                    </td>
                </tr>
                {{ end }}
                {{ if .Config.DatasetDetails }}
                {{ range $detailField := .Config.DatasetDetails }}
                <tr>
                    <td class="w-25">
                        <b>{{ $detailField.Name }}</b>
                    </td>
                    <td>
                        {{ markdown $detailField.Value }}
                    </td>
                </tr>
                {{ end }}
                {{ end }}
            </tbody>
        </table>
    </div>
    {{ if and .Config.Thumbnail .Config.Resources }}
    <div class="col-md-4">
        <img src="resources/{{ .Config.Thumbnail }}" class="img-fluid" alt="thumbnail van {{ .Config.Title }}"/>
    </div>
    {{ end }}
</div>

<div class="row row-cols-md-4 g-4">
    <div class="col-md-4 col-sm-12">
        <div class="card h-100">
            <h5 class="card-header">
                <a href="api">{{ i18n "Specification" .Language }}</a>
            </h5>
            <div class="card-body">
                <p>
                    {{ i18n "SpecificationText" .Language }}
                </p>
                <small class="text-body-secondary">{{ i18n "ViewAs" .Language }} <a href="api?f=json" target="_blank">JSON</a></small>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-12">
        <div class="card h-100">
            <h5 class="card-header">
                <a href="conformance">{{ i18n "Conformance" .Language }}</a>
            </h5>
            <div class="card-body">
                <p>
                    {{ i18n "ConformanceText" .Language }}
                </p>
                <small class="text-body-secondary">{{ i18n "ViewAs" .Language }} <a href="conformance?f=json" target="_blank">JSON</a></small>
            </div>
        </div>
    </div>

    {{ if .Config.HasCollections }}
    <div class="col-md-4 col-sm-12">
        <div class="card h-100">
            <h5 class="card-header">
                <a href="collections">{{ i18n "Collections" .Language }}</a>
            </h5>
            <div class="card-body">
                <p>
                    {{ i18n "CollectionsText" .Language }}
                </p>
                <small class="text-body-secondary">{{ i18n "ViewAs" .Language }} <a href="collections?f=json" target="_blank">JSON</a></small>
            </div>
        </div>
    </div>
    {{ end }}

    {{ if .Config.OgcAPI.Tiles }}
    <div class="col-md-4 col-sm-12">
        <div class="card h-100">
            <h5 class="card-header">
                <a href="tiles">{{ i18n "Tiles" .Language }}</a>
            </h5>
            <div class="card-body">
                <p>
                    {{ i18n "TilesText" .Language }}
                </p>
                <small class="text-body-secondary">{{ i18n "ViewAs" .Language }} <a href="tiles?f=json" target="_blank">JSON</a></small>
            </div>
        </div>
    </div>
    {{ end }}

    {{ if .Config.OgcAPI.Styles }}
    <div class="col-md-4 col-sm-12">
        <div class="card h-100">
            <h5 class="card-header">
                <a href="styles">{{ i18n "Styles" .Language }}</a>
            </h5>
            <div class="card-body">
                <p>
                    {{ i18n "StylesText" .Language }}
                </p>
                <small class="text-body-secondary">{{ i18n "ViewAs" .Language }} <a href="styles?f=json" target="_blank">JSON</a></small>
            </div>
        </div>
    </div>
    {{ end }}

    {{ if .Config.OgcAPI.Tiles }}
    <div class="col-md-4 col-sm-12">
        <div class="card h-100">
            <h5 class="card-header">
                <a href="tileMatrixSets">{{ i18n "TileMatrixSets" .Language }}</a>
            </h5>
            <div class="card-body">
                <p>
                    {{ i18n "TileMatrixSetsText" .Language }}
                </p>
                <small class="text-body-secondary">{{ i18n "ViewAs" .Language }} <a href="tileMatrixSets?f=json" target="_blank">JSON</a></small>
            </div>
        </div>
    </div>
    {{ end }}
</div>
{{end}}
