{{- /*gotype: github.com/PDOK/gokoala/engine.TemplateData*/ -}}
{{ define "content" }}
{{ if .Config.OgcAPI.Styles }}
<hgroup>
    <h1 class="title">{{ .Config.Title }} - Styles</h1>
</hgroup>
<div class="row">
    <div class="col-md-12">
        <p>
            Betreft de offici&#235;le style van/door de aanbieder gespecificeerd. Styles worden beschikbaar gesteld
            in het Mapbox formaat.
        </p>
        <table class="table table-borderless table-sm w-75">
            <tbody>
                {{ $baseUrl := .Config.BaseURL }}
                <tr>
                    <td class="w-25">
                        <b>Beschikbare style(s)</b>
                    </td>
                    <td>
                        {{ if eq (len .Config.OgcAPI.Styles.SupportedStyles) 1 }}
                        {{ (index .Config.OgcAPI.Styles.SupportedStyles 0).Title }}
                        {{ else }}
                        <select id="styles">
                            {{ range $style := .Config.OgcAPI.Styles.SupportedStyles }}
                            <option value="{{ $style.ID }}">{{ $style.Title }}</option>
                            {{ end }}
                        </select>
                        {{ end }}
                    </td>
                </tr>
                {{ range $index, $style := .Config.OgcAPI.Styles.SupportedStyles }}
                <tr id="{{ $style.ID }}_url" class="toggle-content{{ if not $index }} is-visible{{ end }}">
                    <td class="w-25">
                        <b>Style - URL</b>
                    </td>
                    <td>
                        <a href="styles/{{ $style.ID }}">{{ $baseUrl }}/styles/{{ $style.ID }}</a>
                    </td>
                </tr>
                <tr id="{{ $style.ID }}_meta" class="toggle-content{{ if not $index }} is-visible{{ end }}">
                    <td class="w-25">
                        <b>Metadata style</b>
                    </td>
                    <td>
                        <a href="styles/{{ $style.ID }}/metadata">Link</a>
                    </td>
                </tr>
                {{ end }}
            </tbody>
        </table>
        <p>Voorbeeld styling:</p>
        <app-vectortile-view id="style-vectortile-viewer" style="width: 800px; height: 600px;"
            tile-url="{{ .Config.BaseURL }}/tiles/NetherlandsRDNewQuad"
            style-url="{{ .Config.BaseURL }}/styles/{{ (index .Config.OgcAPI.Styles.SupportedStyles 0).ID }}"
            zoom="{{ (index .Config.OgcAPI.Tiles.SupportedSrs 0).ZoomLevelRange.End }}" center-x="5.3896944"
            center-y="52.1562499" xy-swap="false">
        </app-vectortile-view>
    </div>
</div>
<script>
    document.addEventListener('input', function (event) {
        // only operate on styles dropdown
        if (event.target.id !== 'styles') return;
        // hide currently visible rows
        var visibleRows = document.getElementsByClassName('toggle-content is-visible');
        Array.from(visibleRows).forEach((row) => { row.classList.toggle('is-visible') });
        // make rows for newly selected style visible
        var selectedStyle = event.target.value
        var styleUrl = document.getElementById(selectedStyle + '_url');
        var styleMeta = document.getElementById(selectedStyle + '_meta');
        styleUrl.classList.toggle('is-visible');
        styleMeta.classList.toggle('is-visible');
        // update style-url in app-vectortile-view
        var viewer = document.getElementById('style-vectortile-viewer')
        viewer.setAttribute('style-url', '{{ .Config.BaseURL }}/styles/' + selectedStyle)
    }, false);
</script>
{{ end }}
{{ end }}
