{{- /*gotype: github.com/PDOK/gokoala/engine.TemplateData*/ -}}
{{ define "content" }}
{{ if .Config.OgcAPI.Styles }}
  <hgroup>
    <h1 class="title">{{ .Config.Title }} - {{ i18n "Styles" }}</h1>
  </hgroup>
  <div class="row py-3">
    <div class="col-md-12">
      <p>
        {{ i18n "StylesText" }}
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      {{ $baseUrl := .Config.BaseURL }}
      {{ $defaultSrs := (index .Config.OgcAPI.Tiles.SupportedSrs 0)}}
      {{ $defaultStyle := .Config.OgcAPI.Styles.Default }}
      <table class="table table-borderless table-sm w-auto">
        <tbody>
          <tr>
            <td class="w-auto text-nowrap">
              <b>Style</b>
            </td>
            <td class="w-auto px-2">
              {{ if eq (len .Config.OgcAPI.Styles.SupportedStyles) 1 }}
              {{ (index .Config.OgcAPI.Styles.SupportedStyles 0).Title }}
              {{ else }}
              <select id="styles">
                {{ range $style := .Config.OgcAPI.Styles.SupportedStyles }}
                <option value="{{ $style.ID }}">{{ $style.Title }}</option>
                {{ end }}
              </select>
              {{ end }}
            </td>
          </tr>
          <tr>
            <td class="w-auto text-nowrap">
              <b>URL</b>
            </td>
            <td class="w-auto px-2">
              <a id="href-url" href="styles/{{ $defaultStyle }}">{{ $baseUrl }}/styles/{{ $defaultStyle }}</a>
            </td>
          </tr>
          <tr>
            <td class="w-auto text-nowrap">
              <b>Metadata</b>
            </td>
            <td class="w-auto px-2">
              <a id="href-metadata" href="styles/{{ $defaultStyle }}/metadata">{{ i18n "StyleMetadata" }}</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      {{ $projections := dict "EPSG:28992" "NetherlandsRDNewQuad" "EPSG:4258" "EuropeanETRS89_LAEAQuad" "EPSG:3857" "WebMercatorQuad" }}
      <link rel="stylesheet" type="text/css" href="vectortile-view-component/styles.css">
      <script type="text/javascript" src="vectortile-view-component/main.js"></script>
      <script type="text/javascript" src="vectortile-view-component/polyfills.js"></script>
      <script type="text/javascript" src="vectortile-view-component/runtime.js"></script>
      <p>{{ i18n "StylingExample" }}:</p>
      <app-vectortile-view id="styles-vectortile-view" class="vectortile-view"
        tile-url="{{ $baseUrl }}/tiles/{{ get $projections $defaultSrs.Srs }}"
        style-url="{{ $baseUrl }}/styles/{{ $defaultStyle }}?f=mapbox"
        center-x="5.3896944" center-y="52.1562499">
      </app-vectortile-view>
    </div>
  </div>
  <script>
    document.addEventListener('input', function (event) {
      // only operate on styles dropdown
      if (event.target.id !== 'styles') return;
      // update table fields
      const selectedStyle = event.target.value;
      const urlHref = document.getElementById('href-url');
      const metadataHref = document.getElementById('href-metadata');
      urlHref.textContent = '{{ $baseUrl }}/styles/' + selectedStyle;
      urlHref.setAttribute('href', 'styles/' + selectedStyle);
      metadataHref.setAttribute('href', 'styles/' + selectedStyle + '/metadata');
      // update style-url in app-vectortile-view
      const viewer = document.getElementById('styles-vectortile-view')
      viewer.setAttribute('style-url', '{{ $baseUrl }}/styles/' + selectedStyle + '?f=mapbox')
    }, false);
  </script>
{{ end }}
{{ end }}
