{{- /*gotype: github.com/PDOK/gokoala/internal/engine.TemplateData*/ -}}
{{ define "content" }}
{{ if .Params }}
{{ $baseUrl := .Config.BaseURL }}
<hgroup>
    <h1 class="title" id="title">{{ .Config.Title }} - {{ .Params.Metadata.Title }} Metadata</h1>
</hgroup>
<div class="row py-3">
    {{ if and .Params.Metadata.Thumbnail .Config.Resources }}
    <div class="col-md-8">
    {{ else }}
    <div class="col-md-12">
    {{ end }}
    {{ markdown .Params.Metadata.Description }}
    <table class="table table-borderless table-sm w-100">
        <tbody>
        {{ if .Params.Metadata.LastUpdated }}
            <tr>
                <td class="w-25 text-nowrap fw-bold">
                    {{ i18n "LastUpdated" }}
                </td>
                <td>
                    {{ default "-" .Params.Metadata.LastUpdated }}
                </td>
            </tr>
        {{ end }}
        {{ if .Params.Metadata.Version }}
            <tr>
                <td class="w-25 text-nowrap fw-bold">
                    {{ i18n "Version" }}
                </td>
                <td>
                    {{ default "-" .Params.Metadata.Version }}
                </td>
            </tr>
        {{ end }}
        <tr>
            <td class="w-25 text-nowrap fw-bold">
                {{ i18n "License" }}
            </td>
            <td>
                <a href="{{ .Config.License.URL }}" target="_blank" aria-label="{{ i18n "To" }} {{ i18n "License" }} {{ .Config.License.Name }}">{{ .Config.License.Name }}</a>
            </td>
        </tr>
        {{ if .Config.Support}}
            <tr>
                <td class="w-25 text-nowrap fw-bold">
                    {{ i18n "Support" }}
                </td>
                <td>
                    <a href="{{ .Config.Support.URL }}" target="_blank" aria-label="{{ i18n "To" }} {{ i18n "Support" }}">{{ .Config.Support.Name }}</a>
                </td>
            </tr>
        {{ end }}
        </tbody>
    </table>
    <ul>
        {{ $style := .Params.Metadata.ID }}
        {{ $projection := .Params.Projection }}
        {{ range $sh_index, $styleFormat := .Params.Metadata.Formats }}
            {{ if eq $styleFormat.Format "mapbox" }}
                <li><a href="{{ $baseUrl }}/styles/{{ $style }}__{{ lower $projection }}?f=mapbox" aria-label="{{ i18n "To" }} Mapbox Style">Mapbox Style</a> (<a href="{{ $baseUrl }}/styles/{{ $style }}__{{ lower $projection }}?f=html" aria-label="{{ i18n "To" }} style {{ i18n "Legend" }}">{{ i18n "Legend" }}</a>)</li>
            {{ else if eq $styleFormat.Format "sld10" }}
                <li><a href="{{ $baseUrl }}/styles/{{ $style }}__{{ lower $projection }}?f=sld10" aria-label="OpenGIS Styled Layer Descriptor 1.0 Style">SLD 1.0 Style</a></li>
            {{ end }}
            {{/* Add support for more style formats here */}}
        {{ end }}
    </ul>
    </div>
{{ if and .Params.Metadata.Thumbnail .Config.Resources }}
    <div class="col-md-4">
        <img src="resources/{{ .Params.Metadata.Thumbnail }}" class="img-fluid" alt="{{ .Params.Metadata.Title }} Thumbnail"/>
    </div>
{{ end }}
</div>
{{end}}
{{end}}
