{{- /*gotype: github.com/PDOK/gokoala/internal/engine.TemplateData*/ -}}
{{define "content"}}
<hgroup>
  <h1 class="title" id="title">WebMercatorQuad</h1>
</hgroup>
<div class="row py-3">
  <div class="col-md-12">
    <p>
      GoogleMapsCompatible well-known scale set definition. CRS: <a href="http://www.opengis.net/def/crs/EPSG/0/3857" target="_blank" aria-label="{{ i18n "To" }} EPSG:3857 {{ i18n "Definition" }}">EPSG:3857</a>.
      Well-known scale set: <code>urn:ogc:def:wkss:OGC:1.0:GoogleMapsCompatible</code>
    </p>
    <table class="table table-striped">
      <thead>
        <tr>
          <th  scope="col">{{ i18n "ZoomLevel" }}<br/>(tile matrix id)</th>
          <th  scope="col">Tile width</th>
          <th  scope="col">Tile height</th>
          <th  scope="col">Matrix width</th>
          <th  scope="col">Matrix height</th>
          <th  scope="col">Scale</th>
          <th  scope="col">Cell size</th>
          <th  scope="col">Point of origin</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>0</td>
          <td>256</td>
          <td>256</td>
          <td>1</td>
          <td>1</td>
          <td>559082264.028717</td>
          <td>156543.033928041</td>
          <td>[-20037508.3427892, 20037508.3427892]</td>
        </tr>
        <tr>
          <td>1</td>
          <td>256</td>
          <td>256</td>
          <td>2</td>
          <td>2</td>
          <td>279541132.014358</td>
          <td>78271.5169640204</td>
          <td>[-20037508.3427892, 20037508.3427892]</td>
        </tr>
        <tr>
          <td>2</td>
          <td>256</td>
          <td>256</td>
          <td>4</td>
          <td>4</td>
          <td>139770566.007179</td>
          <td>39135.7584820102</td>
          <td>[-20037508.3427892, 20037508.3427892]</td>
        </tr>
        <tr>
          <td>3</td>
          <td>256</td>
          <td>256</td>
          <td>8</td>
          <td>8</td>
          <td>69885283.0035897</td>
          <td>19567.8792410051</td>
          <td>[-20037508.3427892, 20037508.3427892]</td>
        </tr>
        <tr>
          <td>4</td>
          <td>256</td>
          <td>256</td>
          <td>16</td>
          <td>16</td>
          <td>34942641.5017948</td>
          <td>9783.93962050256</td>
          <td>[-20037508.3427892, 20037508.3427892]</td>
        </tr>
        <tr>
          <td>5</td>
          <td>256</td>
          <td>256</td>
          <td>32</td>
          <td>32</td>
          <td>17471320.7508974</td>
          <td>4891.96981025128</td>
          <td>[-20037508.3427892, 20037508.3427892]</td>
        </tr>
        <tr>
          <td>6</td>
          <td>256</td>
          <td>256</td>
          <td>64</td>
          <td>64</td>
          <td>8735660.37544871</td>
          <td>2445.98490512564</td>
          <td>[-20037508.3427892, 20037508.3427892]</td>
        </tr>
        <tr>
          <td>7</td>
          <td>256</td>
          <td>256</td>
          <td>128</td>
          <td>128</td>
          <td>4367830.18772435</td>
          <td>1222.99245256282</td>
          <td>[-20037508.3427892, 20037508.3427892]</td>
        </tr>
        <tr>
          <td>8</td>
          <td>256</td>
          <td>256</td>
          <td>256</td>
          <td>256</td>
          <td>2183915.09386217</td>
          <td>611.49622628141</td>
          <td>[-20037508.3427892, 20037508.3427892]</td>
        </tr>
        <tr>
          <td>9</td>
          <td>256</td>
          <td>256</td>
          <td>512</td>
          <td>512</td>
          <td>1091957.54693108</td>
          <td>305.748113140704</td>
          <td>[-20037508.3427892, 20037508.3427892]</td>
        </tr>
        <tr>
          <td>10</td>
          <td>256</td>
          <td>256</td>
          <td>1024</td>
          <td>1024</td>
          <td>545978.773465544</td>
          <td>152.874056570352</td>
          <td>[-20037508.3427892, 20037508.3427892]</td>
        </tr>
        <tr>
          <td>11</td>
          <td>256</td>
          <td>256</td>
          <td>2048</td>
          <td>2048</td>
          <td>272989.386732772</td>
          <td>76.4370282851762</td>
          <td>[-20037508.3427892, 20037508.3427892]</td>
        </tr>
        <tr>
          <td>12</td>
          <td>256</td>
          <td>256</td>
          <td>4096</td>
          <td>4096</td>
          <td>136494.693366386</td>
          <td>38.2185141425881</td>
          <td>[-20037508.3427892, 20037508.3427892]</td>
        </tr>
        <tr>
          <td>13</td>
          <td>256</td>
          <td>256</td>
          <td>8192</td>
          <td>8192</td>
          <td>68247.346683193</td>
          <td>19.109257071294</td>
          <td>[-20037508.3427892, 20037508.3427892]</td>
        </tr>
        <tr>
          <td>14</td>
          <td>256</td>
          <td>256</td>
          <td>16384</td>
          <td>16384</td>
          <td>34123.6733415964</td>
          <td>9.55462853564703</td>
          <td>[-20037508.3427892, 20037508.3427892]</td>
        </tr>
        <tr>
          <td>15</td>
          <td>256</td>
          <td>256</td>
          <td>32768</td>
          <td>32768</td>
          <td>17061.8366707982</td>
          <td>4.77731426782351</td>
          <td>[-20037508.3427892, 20037508.3427892]</td>
        </tr>
        <tr>
          <td>16</td>
          <td>256</td>
          <td>256</td>
          <td>65536</td>
          <td>65536</td>
          <td>8530.91833539913</td>
          <td>2.38865713391175</td>
          <td>[-20037508.3427892, 20037508.3427892]</td>
        </tr>
        <tr>
          <td>17</td>
          <td>256</td>
          <td>256</td>
          <td>131072</td>
          <td>131072</td>
          <td>4265.45916769956</td>
          <td>1.19432856695587</td>
          <td>[-20037508.3427892, 20037508.3427892]</td>
        </tr>
        <tr>
          <td>18</td>
          <td>256</td>
          <td>256</td>
          <td>262144</td>
          <td>262144</td>
          <td>2132.72958384978</td>
          <td>0.597164283477939</td>
          <td>[-20037508.3427892, 20037508.3427892]</td>
        </tr>
        <tr>
          <td>19</td>
          <td>256</td>
          <td>256</td>
          <td>524288</td>
          <td>524288</td>
          <td>1066.36479192489</td>
          <td>0.29858214173897</td>
          <td>[-20037508.3427892, 20037508.3427892]</td>
        </tr>
        <tr>
          <td>20</td>
          <td>256</td>
          <td>256</td>
          <td>1048576</td>
          <td>1048576</td>
          <td>533.182395962445</td>
          <td>0.149291070869485</td>
          <td>[-20037508.3427892, 20037508.3427892]</td>
        </tr>
        <tr>
          <td>21</td>
          <td>256</td>
          <td>256</td>
          <td>2097152</td>
          <td>2097152</td>
          <td>266.591197981222</td>
          <td>0.0746455354347424</td>
          <td>[-20037508.3427892, 20037508.3427892]</td>
        </tr>
        <tr>
          <td>22</td>
          <td>256</td>
          <td>256</td>
          <td>4194304</td>
          <td>4194304</td>
          <td>133.295598990611</td>
          <td>0.0373227677173712</td>
          <td>[-20037508.3427892, 20037508.3427892]</td>
        </tr>
        <tr>
          <td>23</td>
          <td>256</td>
          <td>256</td>
          <td>8388608</td>
          <td>8388608</td>
          <td>66.6477994953056</td>
          <td>0.0186613838586856</td>
          <td>[-20037508.3427892, 20037508.3427892]</td>
        </tr>
        <tr>
          <td>24</td>
          <td>256</td>
          <td>256</td>
          <td>16777216</td>
          <td>16777216</td>
          <td>33.3238997476528</td>
          <td>0.0093306919293428</td>
          <td>[-20037508.3427892, 20037508.3427892]</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{{end}}
