
.legendtable
{
font-family: var(--font-family, "Roboto"); 
background: white;
border-spacing : 0em; 
}
.legendrow{
  padding: 1px;
  height: 0px ;
}
.legendicon{
  display: inline-block; 
  padding-top: 0.1em;
  padding-right: 2em;
  padding-bottom: 0.1em;
  padding-left: 2em;
  margin:0 ; 
  height: 35px ;
}