{{- /*gotype: github.com/PDOK/gokoala/internal/engine.TemplateData*/ -}}
{{define "content"}}
{{ $cfg := .Config }}
{{ $baseUrl := $cfg.BaseURL }}
<script>
    function crsChange(value) {
        const url = new URL(window.location.href);
        url.searchParams.set('crs', value);
        window.location.href = url.toString();
    }
</script>

<hgroup>
    <h1 class="title h2" id="title">{{ .Config.Title }} - {{ if and .Params.Metadata .Params.Metadata.Title }}{{.Params.Metadata.Title }}{{ else }}{{ .Params.CollectionID }}{{ end }}</h1>
</hgroup>

<section class="row py-3">
    <div class="col-md-8 col-sm-12">
        <div class="row mb-2">
            <label for="srs-select" class="col-sm-2 col-form-label fw-bold">{{ i18n "Projection" }}</label>
            <div class="col-sm">
                <select id="srs-select" class="form-select" onchange="crsChange(this.value)">
                    <option value="http://www.opengis.net/def/crs/OGC/1.3/CRS84" selected>
                        http://www.opengis.net/def/crs/OGC/1.3/CRS84
                    </option>
                    {{ range $index, $srs := .Config.OgcAPI.Features.ProjectionsForCollection $.Params.CollectionID }}
                    <option value=http://www.opengis.net/def/crs/EPSG/0/{{ trimPrefix "EPSG:" $srs }}>http://www.opengis.net/def/crs/EPSG/0/{{ $srs }}</option>
                    {{ end }}
                </select>
            </div>
        </div>
    </div>

    <div class="col-md-8 col-sm-12">
        <table class="table table-striped">
            <thead>
            <tr>
                <th colspan="2">{{ .Params.FeatureID }}</th>
            </tr>
            </thead>
            <tbody>
                <!-- For map sheets collection, skip properties pertaining to downloads, then add download button -->
            {{ $mapSheetProperties := .Params.MapSheetProperties }}
            {{ if $mapSheetProperties }}
            {{ $skipKeys := list $mapSheetProperties.AssetURL $mapSheetProperties.Size }}
            {{ range $key, $value := .Params.Properties }}
            {{ if not (has $key $skipKeys) }}
            <tr>
                <td class="w-25">{{ $key }}</td>
                <td>{{ $value }}</td>
            </tr>
            {{ end }}
            {{ end }}
            <tr>
                <td colspan="2"><a class="btn btn-primary" href="{{ get .Params.Properties $mapSheetProperties.AssetURL }}">Download ({{ humansize (get .Params.Properties $mapSheetProperties.Size) }})</a></td>
            </tr>
            <!-- For other collections, show all properties -->
            {{ else }}
            {{ range $key, $value := .Params.Properties }}
            <tr>
                <td class="w-25">{{ $key }}</td>
                <td>{{ $value }}</td>
            </tr>
            {{ end }}
            {{ end }}
            </tbody>
        </table>
    </div>

    <div class="col-md-4 col-sm-12">
        <link rel="stylesheet" type="text/css" href="view-component/styles.css">
        <script type="text/javascript" src="view-component/main.js"></script>
        <script type="text/javascript" src="view-component/polyfills.js"></script>
        <script type="text/javascript" src="view-component/runtime.js"></script>
        <app-feature-view id="viewer" background-map="{{ $cfg.OgcAPI.Features.Basemap }}" show-bounding-box-button="false"></app-feature-view>
        <script type="module">
            const url = new URL(window.location.href)
            url.searchParams.set('f', 'json');
            const viewer = document.getElementById('viewer');
            viewer.setAttribute('items-url', url);

            if (url.searchParams.get('crs') !== null) {
                let crs = url.searchParams.get('crs');
                document.getElementById('srs-select').value = crs;
                viewer.setAttribute('projection', crs)
            }
        </script>
        <noscript>Enable Javascript to view features on a map</noscript>
    </div>
</section>
{{end}}
