{{- /*gotype: github.com/PDOK/gokoala/internal/engine.TemplateData*/ -}}
{{define "content"}}
<hgroup>
    <h1 class="title" id="title">{{ .Config.Title }} - {{ i18n "TileMatrixSets" }}</h1>
</hgroup>
<div class="row py-3">
    <div class="col-md-12">
        <p>
            {{ if .Config.OgcAPI.Tiles.DatasetTiles }}
                {{ i18n "TileMatrixSetsDatasetText" }}
            {{ else if .Config.OgcAPI.Tiles.Collections }}
                {{ i18n "TileMatrixSetsCollectionText" }}
            {{ end }}
        </p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th  scope="col">Tile Matrix Set</th>
                    <th  scope="col">{{ i18n "Description" }}</th>
                </tr>
            </thead>
            <tbody>
            {{ if .Config.OgcAPI.Tiles.HasProjection "EPSG:28992" }}
                <tr>
                    <td><a href="tileMatrixSets/NetherlandsRDNewQuad" aria-label="{{ i18n "To" }} NetherlandsRDNewQuad">NetherlandsRDNewQuad</a></td>
                    <td>Amersfoort / RD New scheme for the Netherlands</td>
                </tr>
            {{end}}
            {{ if .Config.OgcAPI.Tiles.HasProjection "EPSG:3035" }}
                <tr>
                    <td><a href="tileMatrixSets/EuropeanETRS89_LAEAQuad" aria-label="{{ i18n "To" }} EuropeanETRS89_LAEAQuad">EuropeanETRS89_LAEAQuad</a></td>
                    <td>Lambert Azimuthal Equal Area ETRS89 for Europe</td>
                </tr>
            {{end}}
            {{ if .Config.OgcAPI.Tiles.HasProjection "EPSG:3857" }}
                <tr>
                    <td><a href="tileMatrixSets/WebMercatorQuad" aria-label="{{ i18n "To" }} WebMercatorQuad">WebMercatorQuad</a></td>
                    <td>Google Maps Compatible for the World</td>
                </tr>
            {{end}}
            </tbody>
        </table>
    </div>
</div>
{{end}}
