{{- /*gotype: github.com/PDOK/gomagpie/internal/engine.TemplateData*/ -}}
{{define "content"}}
{{ $cfg := .Config }}
{{ $baseUrl := $cfg.BaseURL }}
<hgroup>
    <h1 class="title" id="title">{{ .Config.Title }} - {{ i18n "Collections" }}</h1>
</hgroup>

<section class="row row-cols-md-4 g-4 py-3">
    {{ range $index, $coll := .Config.AllCollections.Unique }}
        <div class="col-md-4 col-sm-12">
            <div class="card h-100">
                <h2 class="card-header h5">
                    {{ if and $coll.Metadata $coll.Metadata.Title }}
                    <a href="{{ $baseUrl }}/collections/{{ $coll.ID }}" aria-label="{{ i18n "To" }} {{ $coll.Metadata.Title }}">{{ $coll.Metadata.Title }}</a>
                    {{ else }}
                    <a href="{{ $baseUrl }}/collections/{{ $coll.ID }}" aria-label="{{ i18n "To" }} {{ $coll.ID }}">{{ $coll.ID }}</a>
                    {{ end }}
                </h2>
                <div class="card-body">
                    {{ if and $coll.Metadata $coll.Metadata.Description }}
                        {{ markdown $coll.Metadata.Description }}
                    {{ end }}
                    <small class="text-body-secondary">{{ i18n "ViewCollectionAs" }} <a href="{{ $baseUrl }}/collections/{{ $coll.ID }}?f=json" target="_blank" aria-label="{{ i18n "Collection" }} {{ i18n "As" }} JSON">JSON</a></small>
                </div>
                <ul class="list-group list-group-flush">
                    {{/* <li class="list-group-item"><b>Schema</b>: TODO link to collection schema</li> */}}
                    {{ if and $coll.Metadata $coll.Metadata.LastUpdated }}
                    <li class="list-group-item">
                        {{ if and $coll.Metadata $coll.Metadata.LastUpdatedBy }}
                        <strong>{{ i18n "UpdatedBy" }} {{ $coll.Metadata.LastUpdatedBy }} {{ i18n "On" }}</strong>:
                        {{ else if $cfg.LastUpdatedBy }}
                        <strong>{{ i18n "UpdatedBy" }} {{ $cfg.LastUpdatedBy }} {{ i18n "On" }}</strong>:
                        {{ else }}
                        <strong>{{ i18n "LastUpdated" }}</strong>:
                        {{ end }}
                        {{ toDate "2006-01-02T15:04:05Z07:00" $coll.Metadata.LastUpdated | date "2006-01-02" }}
                    </li>
                    {{ else if $cfg.LastUpdated }}
                    <li class="list-group-item">
                        {{ if $cfg.LastUpdatedBy }}
                        <strong>{{ i18n "UpdatedBy" }} {{ $cfg.LastUpdatedBy }} {{ i18n "On" }}</strong>:
                        {{ else }}
                        <strong>{{ i18n "LastUpdated" }}</strong>:
                        {{ end }}
                        {{ toDate "2006-01-02T15:04:05Z07:00" $cfg.LastUpdated | date "2006-01-02" }}
                    </li>
                    {{ end }}
                    {{ if and $coll.Metadata $coll.Metadata.Extent }}
                    <li class="list-group-item">
                        <strong>{{ i18n "GeographicExtent" }}</strong>
                        {{ if $coll.Metadata.Extent.Srs }}
                        (<a href="http://www.opengis.net/def/crs/EPSG/0/{{ trimPrefix "EPSG:" $coll.Metadata.Extent.Srs }}" target="_blank"
                            aria-label="{{ i18n "To" }} {{ $coll.Metadata.Extent.Srs }} {{ i18n "Definition" }}">{{ $coll.Metadata.Extent.Srs }}</a>):
                        {{ else }}
                        (<a href="http://www.opengis.net/def/crs/OGC/1.3/CRS84" target="_blank"
                            aria-label="{{ i18n "To" }} CRS84 {{ i18n "Definition" }}">CRS84</a>):
                        {{ end }}
                        {{ $coll.Metadata.Extent.Bbox | join ", " }}
                    </li>
                    {{ end }}
                    {{ if and $coll.Metadata $coll.Metadata.Extent $coll.Metadata.Extent.Interval }}
                    <li class="list-group-item">
                        <strong>{{ i18n "TemporalExtent" }}</strong>
                        (<a href="http://www.opengis.net/def/uom/ISO-8601/0/Gregorian" target="_blank" aria-label="{{ i18n "To" }} ISO-8601 {{ i18n "Definition" }}">ISO-8601</a>):
                        {{ toDate "2006-01-02T15:04:05Z" ((first $coll.Metadata.Extent.Interval) | replace "\"" "") | date "2006-01-02" }} /
                        {{ if not (contains "null" (last $coll.Metadata.Extent.Interval)) }}{{ toDate "2006-01-02T15:04:05Z" ((last $coll.Metadata.Extent.Interval) | replace "\"" "") | date "2006-01-02" }}{{ else }}..{{ end }}
                    </li>
                    {{ end }}
                </ul>
                {{ if and $coll.Metadata $coll.Metadata.Thumbnail }}
                <img src="resources/{{ $coll.Metadata.Thumbnail }}" class="card-img-bottom" alt="{{ $coll.ID }} Thumbnail">
                {{ end }}
            </div>
        </div>
    {{end}}
</section>
{{end}}
