.featuremaparea {
  height: 100vh;

  .boundingboxcontrol {
    top: 65px;
    left: 0.5em;

    .innersvg {
      padding: 3px;
    }
  }

  .ol-touch .oundingboxcontrol {
    top: 80px;
  }
}

.maptooltip {
  visibility: hidden;
  font-weight: bold;
  margin: 1px;
  text-decoration: none;
  text-align: center;
  border-radius: 2px;
  font-size: 16px;
  background-color: white;
  border: 1px solid rgb(26, 30, 79);
  padding: 5px 10px;
}
