{{- /*gotype: github.com/PDOK/gokoala/engine.TemplateData*/ -}}
{{define "content"}}
<hgroup>
    <h2 class="title">{{ .Config.Title }} - {{ if and .Params.Metadata .Params.Metadata.Title }}{{ .Params.Metadata.Title }}{{ else }}{{ .Params.ID }}{{ end }}</h2>
</hgroup>

<section class="row py-3">
    <div class="col-md-8 col-sm-12">
        <div class="card h-100">
            <h5 class="card-header">
                {{ if and .Params.Metadata .Params.Metadata.Title }}
                    {{ .Params.Metadata.Title }}
                {{ else }}
                    {{ .Params.ID }}
                {{ end }}
            </h5>
            <div class="card-body">
                {{ if and .Params.Metadata .Params.Metadata.Description }}
                    {{ markdown .Params.Metadata.Description }}
                {{ end }}
            </div>

            <!-- start specific part per OGC spec -->
            <ul class="list-group list-group-flush">
                {{ if and .Config.OgcAPI.GeoVolumes .Config.OgcAPI.GeoVolumes.Collections }}
                    {{ if .Config.OgcAPI.GeoVolumes.Collections.ContainsID .Params.ID }}
                    <li class="list-group-item">
                        <h5 class="card-title">3D GeoVolumes</h5>
                        <ul>
                            {{ if and .Params.GeoVolumes .Params.GeoVolumes.Has3DTiles }}
                                <li>{{ i18n "GoTo" }} <a href="{{ .Config.BaseURL }}/collections/{{ .Params.ID }}/3dtiles">3D Tiles</a></li>
                            {{ end }}
                            {{ if and .Params.GeoVolumes .Params.GeoVolumes.HasDTM }}
                                <li>{{ i18n "GoTo" }} <a href="{{ .Config.BaseURL }}/collections/{{ .Params.ID }}/quantized-mesh">Quantized Mesh DTM</a></li>
                            {{ end }}
                            {{ if and .Params.GeoVolumes .Params.GeoVolumes.URL3DViewer }}
                            <li>{{ i18n "ViewIn" }} <a href="{{ .Params.GeoVolumes.URL3DViewer }}" target="_blank">3D Viewer</a></li>
                            {{ end }}
                        </ul>
                    </li>
                    {{ end }}
                {{ end }}

                {{ if and .Config.OgcAPI.Tiles .Config.OgcAPI.Tiles.Collections }}
                    {{ if .Config.OgcAPI.Tiles.Collections.ContainsID .Params.ID }}
                    <li class="list-group-item">
                        <h5 class="card-title">Tiles</h5>
                        <ul>
                            <li>TODO (placeholder)</li>
                        </ul>
                    </li>
                    {{ end }}
                {{ end }}

                {{ if and .Config.OgcAPI.Features .Config.OgcAPI.Features.Collections }}
                    {{ if .Config.OgcAPI.Features.Collections.ContainsID .Params.ID }}
                    <li class="list-group-item">
                        <h5 class="card-title">Features</h5>
                        <ul>
                            <li><strong>{{ i18n "Browse" }} <a href="{{ .Config.BaseURL }}/collections/{{ .Params.ID }}/items">Features</a></strong></li>
                            <li>{{ i18n "GoTo" }} features in WGS84 {{ i18n "As" }} <a href="{{ .Config.BaseURL }}/collections/{{ .Params.ID }}/items?f=json">GeoJSON</a></li>
                            {{ range $index, $srs := .Config.OgcAPI.Features.ProjectionsForCollection .Params.ID }}
                                {{ range $formatKey, $formatName := $.AvailableFormatsFeatures }}
                                    {{ $crs := printf "http://www.opengis.net/def/crs/EPSG/0/%s" (trimPrefix "EPSG:" $srs) }}
                                    <li>{{ i18n "GoTo" }} features in {{ $srs }} {{ i18n "As" }} <a href="{{ $.Config.BaseURL }}/collections/{{ $.Params.ID }}/items?f={{ $formatKey }}&crs={{ $crs }}">{{ $formatName }}</a></li>
                                {{ end }}
                            {{ end }}
                            {{/* TODO offer download link to GeoPackage, for example <li>Download {{ i18n "As" }} <a href="#" onclick="alert('TODO')">GeoPackage</a></li>*/}}
                        </ul>
                        <br/>
                        <div class="alert alert-primary" role="alert">
                            {{ i18n "FeaturesExplanation" }}
                        </div>
                    </li>

                    {{ end }}
                {{ end }}
            </ul>
            <!-- end specific part per OGC spec -->

            <ul class="list-group list-group-flush">
                {{ if and .Params.Metadata .Params.Metadata.Keywords }}
                    <li class="list-group-item">
                        <strong>{{ i18n "Keywords" }}</strong>: {{ .Params.Metadata.Keywords | join ", " }}
                    </li>
                {{ end }}
                {{/* <li class="list-group-item"><b>Schema</b>: TODO link to collection schema</li> */}}
                {{ if and .Params.Metadata .Params.Metadata.LastUpdated }}
                    <li class="list-group-item">
                        <strong>{{ i18n "LastUpdated" }}</strong>:
                        {{ toDate "2006-01-02T15:04:05Z07:00" .Params.Metadata.LastUpdated | date "2006-01-02" }}
                    </li>
                {{ end }}
                {{ if and .Params.Metadata .Params.Metadata.Extent }}
                    <li class="list-group-item">
                        <strong>{{ i18n "GeographicExtent" }}</strong>
                        (<a href="http://www.opengis.net/def/crs/EPSG/0/{{ trimPrefix "EPSG:" .Params.Metadata.Extent.Srs }}" target="_blank">{{ .Params.Metadata.Extent.Srs }}</a>):
                        {{ .Params.Metadata.Extent.Bbox | join ", " }}
                    </li>
                {{ end }}
                {{ if and .Params.Metadata .Params.Metadata.Extent .Params.Metadata.Extent.Interval }}
                <li class="list-group-item">
                    <strong>{{ i18n "TemporalExtent" }}</strong>
                    (<a href="http://www.opengis.net/def/uom/ISO-8601/0/Gregorian" target="_blank">ISO-8601</a>):
                    {{ toDate "2006-01-02T15:04:05Z" ((first .Params.Metadata.Extent.Interval) | replace "\"" "") | date "2006-01-02" }} /
                    {{ if not (contains "null" (last .Params.Metadata.Extent.Interval)) }}{{ toDate "2006-01-02T15:04:05Z" ((last .Params.Metadata.Extent.Interval) | replace "\"" "") | date "2006-01-02" }}{{ else }}..{{ end }}
                </li>
                {{ end }}
            </ul>
        </div>
    </div>
</section>
{{end}}
