{{- /*gotype: github.com/PDOK/gokoala/engine.TemplateData*/ -}}
{{define "content"}}
{{$baseUrl := .Config.BaseURL }}
<hgroup>
    <h2 class="title">{{ .Config.Title }} - Collecties</h2>
    <a href="collections?f=json">[JSON]</a>
</hgroup>

<section class="row row-cols-4 g-4">
    {{ range $index, $coll := .Config.GeoSpatialCollections.Flatten }}
        <div class="col-4">
            <div class="card h-100">
                <h5 class="card-header">
                    <a href="{{ $baseUrl }}/collections/{{ $coll.ID }}">{{ $coll.ID }}</a>
                </h5>
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-body-secondary">Bekijk collectie als <a href="{{ $baseUrl }}/collections/{{ $coll.ID }}?f=json">JSON</a></h6>
                    {{ if and $coll.Metadata $coll.Metadata.Description }}
                    <p class="card-text">
                        {{ markdown $coll.Metadata.Description }}
                    </p>
                    {{ end }}
                </div>
                <ul class="list-group list-group-flush">
                    {{ if and $coll.Metadata $coll.Metadata.Keywords }}
                    <li class="list-group-item text-muted">
                        <strong>Trefwoorden</strong>: {{ $coll.Metadata.Keywords | join ", " }}
                    </li>
                    {{ end }}
                    {{/* <li class="list-group-item text-muted"><b>Schema</b>: TODO link to collection schema</li> */}}
                    {{ if and $coll.Metadata $coll.Metadata.LastUpdated }}
                    <li class="list-group-item text-muted">
                        <strong>Bijgewerkt op</strong>:
                        {{ toDate "2006-01-02T15:04:05Z07:00" $coll.Metadata.LastUpdated | date "2006-01-02" }}
                    </li>
                    {{ end }}
                    {{ if and $coll.Metadata $coll.Metadata.Extent }}
                    <li class="list-group-item text-muted">
                        <strong>Geografische begrenzing</strong>
                        (<a href="http://www.opengis.net/def/crs/EPSG/0/{{ trimPrefix "EPSG:" $coll.Metadata.Extent.Srs.EPSG }}">{{ $coll.Metadata.Extent.Srs.EPSG }}</a>):
                        {{ $coll.Metadata.Extent.Bbox | join ", " }}
                    </li>
                    {{ end }}
                </ul>
                {{ if and $coll.Metadata $coll.Metadata.Thumbnail }}
                <img src="resources/{{ $coll.Metadata.Thumbnail }}" class="card-img-bottom" alt="Tumbnail of collection {{ $coll.ID }}">
                {{ end }}
            </div>
        </div>
    {{end}}
</section>
{{end}}
