{{- /*gotype: github.com/PDOK/gokoala/engine.TemplateData*/ -}}
{{define "content"}}
{{ if .Params }}
<hgroup>
    <h2 class="title">Collection: {{ .Params }}</h2>
    <a href="collections/{{ .Params }}?f=json">[JSON]</a>
</hgroup>

<section class="row row-cols-4 g-4">
    <div class="col-8">
        <div class="card h-100">
            <h5 class="card-header">
                {{ .Params }}
            </h5>
            <div class="card-body">
                <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the card's content.
                </p>
            </div>

            <!-- start specific part per OGC spec -->
            <ul class="list-group list-group-flush">
                {{ if and .Config.OgcAPI.GeoVolumes .Config.OgcAPI.GeoVolumes.Collections }}
                <li class="list-group-item">
                    <h5 class="card-title">3D GeoVolumes</h5>
                    <ul>
                        <li>Ga naar de <a href="{{ .Config.BaseURL }}/collections/{{ .Params }}/3dtiles">3D Tiles</a></li>
                        <li>Bekijk in de <a href="#">3D viewer</a></li>
                    </ul>
                </li>
                {{ end }}
                {{ if and .Config.OgcAPI.Tiles .Config.OgcAPI.Tiles.Collections }}
                    <h5 class="card-title">Tiles</h5>
                    <ul>
                        <li>TODO (placeholder)</li>
                    </ul>
                {{ end }}
                {{ if and .Config.OgcAPI.Features .Config.OgcAPI.Features.Collections }}
                    <h5 class="card-title">Features</h5>
                    <ul>
                        <li>TODO (placeholder)</li>
                    </ul>
                {{ end }}
                {{ if and .Config.OgcAPI.Maps .Config.OgcAPI.Maps.Collections }}
                    <h5 class="card-title">Maps</h5>
                    <ul>
                        <li>TODO (placeholder)</li>
                    </ul>
                {{ end }}
            </ul>
            <!-- end specific part per OGC spec -->

            <ul class="list-group list-group-flush">
                <li class="list-group-item text-muted"><strong>Trefwoorden</strong>: daff, fsfs, fsfsf</li>
                {{/* <li class="list-group-item text-muted"><b>Schema</b>: TODO link to collection schema</li> */}}
                <li class="list-group-item text-muted"><strong>Bijgewerkt op</strong>: daff, fsfs, fsfsf</li>
                <li class="list-group-item text-muted"><strong>Geografische begrenzing</strong> (<a href="http://www.opengis.net/def/crs/EPSG/0/28992">EPSG:28992</a>): -25000,250000,280000,860000</li>
            </ul>
        </div>
    </div>
</section>
{{end}}
{{end}}
