{{define "feature_forms"}}
    {{ $cfg := .Config }}
    <form id="form">
        <ul class="nav nav-tabs mb-3" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="fields-tab" data-bs-toggle="tab" data-bs-target="#fields-pane"
                        type="button" role="tab" aria-controls="fields-pane"
                        aria-selected="true">{{ i18n "Fields" }}</button>
            </li>
            {{ if .Params.CQLEnabled }}
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="cql-tab" data-bs-toggle="tab" data-bs-target="#cql-pane"
                            type="button" role="tab" aria-controls="cql-pane" aria-selected="false">CQL
                    </button>
                </li>
            {{ end }}
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="fields-pane" role="tabpanel" aria-labelledby="fields-tab"
                 tabindex="0">
                <!-- projection -->
                <div class="row mb-2">
                    <label for="srs-select" class="col-sm-4 col-form-label"><abbr
                                title="{{ i18n "CrsAbbr" }}">CRS</abbr></label>
                    <div class="col-sm-8">
                        <select id="srs-select" name="srs" class="form-select">
                            <option value="http://www.opengis.net/def/crs/OGC/1.3/CRS84" selected>
                                http://www.opengis.net/def/crs/OGC/1.3/CRS84
                            </option>
                            {{ range $index, $srs := .Config.OgcAPI.Features.CollectionSRS $.Params.CollectionID }}
                                <option value="http://www.opengis.net/def/crs/EPSG/0/{{ trimPrefix "EPSG:" $srs }}">
                                    http://www.opengis.net/def/crs/EPSG/0/{{ trimPrefix "EPSG:" $srs }}</option>
                            {{ end }}
                        </select>
                    </div>
                </div>
                {{ if and .Params.Metadata .Params.Metadata.TemporalProperties }}
                    <!-- datetime -->
                    <div class="row mb-2">
                        <div class="col-sm-4">
                            <!-- switch between instant and interval mode -->
                            <button type="button" id="datetime-mode-btn"
                                    class="col-form-label btn px-0 border-0"
                                    style="color: var(--bs-body-color);"
                                    aria-haspopup="listbox"
                                    aria-expanded="false"
                                    aria-controls="datetime-mode-menu"
                            >
                                <span id="datetime-mode-label">{{ if and .Params.DateTime .Params.DateTime.IsInterval }}{{ i18n "Interval" }}{{ else }}{{ i18n "Instant" }}{{ end }}</span>
                                <i class="bi bi-caret-down-square icon" style="display:inline;" aria-hidden="true"></i>
                                <i class="bi bi-caret-down-square-fill hover-icon" style="display:none;"
                                   aria-hidden="true"></i>
                            </button>
                            <div id="datetime-mode-menu" role="listbox" aria-label="{{ i18n "DateTimeMode" }}"
                                 class="dropdown-menu" style="display:none; position:absolute; z-index:1000;">
                                <button type="button" class="dropdown-item" role="option"
                                        onclick="setDatetimeMode('instant')">{{ i18n "Instant" }}</button>
                                <button type="button" class="dropdown-item" role="option"
                                        onclick="setDatetimeMode('interval')">{{ i18n "Interval" }}</button>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <!-- instant panel -->
                            <div id="datetime-instant-panel"{{ if and .Params.DateTime .Params.DateTime.IsInterval }} hidden aria-hidden="true"{{ end }}>
                                <input id="datetime-input" name="datetime" type="date" class="form-control"
                                       aria-label="{{ i18n "Instant" }}"
                                       value="{{ if and .Params.DateTime .Params.DateTime.Instant }}{{ .Params.DateTime.Instant | date "2006-01-02" }}{{ end }}">
                            </div>
                            <!-- interval panel -->
                            <div id="datetime-interval-panel"{{ if and .Params.DateTime (not .Params.DateTime.IsInterval) }} hidden aria-hidden="true"{{ end }}>
                                <input id="datetime-start-input" name="datetime-start-input" type="date"
                                       class="form-control mb-1"
                                       aria-label="{{ i18n "IntervalStart" }}"
                                       value="{{ if and .Params.DateTime .Params.DateTime.IntervalStart }}{{ .Params.DateTime.IntervalStart | date "2006-01-02" }}{{ end }}">
                                <input id="datetime-end-input" name="datetime-end-input" type="date"
                                       class="form-control"
                                       aria-label="{{ i18n "IntervalEnd" }}"
                                       value="{{ if and .Params.DateTime .Params.DateTime.IntervalEnd }}{{ .Params.DateTime.IntervalEnd | date "2006-01-02" }}{{ end }}">
                            </div>
                        </div>
                    </div>
                {{ end }}
                <!-- limit -->
                <div class="row mb-2">
                    <label for="limit-select" class="col-sm-4 col-form-label">{{ i18n "Limit" }}</label>
                    <div class="col-sm-8">
                        <select id="limit-select" name="limit" class="form-select" aria-label="Limit selection">
                            <option value="10" {{if eq .Params.Limit 10 }}selected{{end}}>10 {{ i18n "Items" }}</option>
                            <option value="100" {{if eq .Params.Limit 100 }}selected{{end}}>
                                100 {{ i18n "Items" }}</option>
                            {{/* see Limit.Max in config.go, can't be smaller than 100 */}}
                            <option value="{{ $cfg.OgcAPI.Features.Limit.Max }}" {{if eq .Params.Limit
                            $cfg.OgcAPI.Features.Limit.Max }}selected{{end}}>{{ $cfg.OgcAPI.Features.Limit.Max }} {{
                                i18n "Items" }} ({{ i18n "Max" }})
                            </option>
                        </select>
                    </div>
                </div>
                {{ if .Params.ConfiguredPropertyFilters }}
                    <div class="row mb-2">
                        <div class="col-12">
                            <button type="button"
                                    id="toggle-property-filters"
                                    class="btn p-0 border-0 d-flex align-items-center"
                                    style="color: var(--bs-body-color);"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#advanced-filters"
                                    aria-expanded="false"
                                    aria-controls="advanced-filters">
                                <span id="property-filter-text">{{ i18n "MorePropertyFilters" }}</span>
                                <i class="bi bi-chevron-down ms-1 flex-shrink-0 collapse-chevron"
                                   aria-hidden="true"></i>
                            </button>
                            <div class="collapse mt-2" id="advanced-filters">
                                {{- range $pfName, $pf := .Params.ConfiguredPropertyFilters -}}
                                    <div class="row mb-2">
                                        <label for="{{ $pfName }}-input" class="col-sm-4 col-form-label text-truncate"
                                               title="{{ $pfName | title }}">{{ $pfName | title }}</label>
                                        <div class="col-sm-8">
                                            {{ if and $pf $pf.AllowedValues }}
                                                <select id="{{ $pfName }}-input" name="{{ $pfName }}"
                                                        class="form-select">
                                                    <!-- default to empty value -->
                                                    <option></option>
                                                    {{ range $value := $pf.AllowedValues }}
                                                        <option value="{{ $value }}"
                                                                {{if eq (index $.Params.PropertyFilters $pfName) $value }}selected{{end}}>{{ $value }}</option>
                                                    {{ end }}
                                                </select>
                                            {{ else }}
                                                <input id="{{ $pfName }}-input"
                                                       name="{{ $pfName }}"
                                                       type="text"
                                                       class="form-control"
                                                       value="{{ index $.Params.PropertyFilters $pfName }}">
                                            {{ end }}
                                        </div>
                                    </div>
                                {{ end }}
                            </div>
                        </div>
                    </div>
                {{ end }}
            </div>
            {{ if .Params.CQLEnabled }}
                <div class="tab-pane fade" id="cql-pane" role="tabpanel" aria-labelledby="cql-tab" tabindex="0">
                    <div class="row mb-2">
                        <div class="col-sm-4 col-form-label">
                            <label for="cql-filter-input" class="mb-0">
                                <abbr title="Common Query Language filter">
                                    CQL filter
                                </abbr>
                            </label>
                            <button type="button"
                                    id="cql-example-button"
                                    class="btn p-0 border-0 align-baseline hover-question-swap"
                                    style="color: var(--bs-body-color);"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#cql-example"
                                    aria-expanded="false"
                                    aria-controls="cql-example"
                                    aria-label="{{ i18n "ShowExample" }}">
                                <i class="bi bi-question-circle" aria-hidden="true"></i>
                                <i class="bi bi-question-circle-fill" aria-hidden="true"></i>
                            </button>
                        </div>
                        <div class="col-sm-8">
                    <textarea id="cql-filter-input"
                              name="filter"
                              class="form-control cql-filter-input"
                              placeholder="{{ i18n "CQLFilterPlaceholder" }}"
                    >{{ .Params.Filter }}</textarea>
                        </div>
                    </div>
                    {{ if .Params.FilterError }}
                        <div class="row">
                            <div class="col">
                                <div class="alert alert-danger mb-0" role="alert" id="cql-filter-error" tabindex="-1">
                                    {{ .Params.FilterError }}
                                </div>
                            </div>
                        </div>
                    {{ end }}
                    <div class="row mb-2">
                        <div class="col">
                            <div class="collapse" id="cql-example">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="card-title">
                                            <small>Example</small>
                                        </div>
                                        <code>
                                            name = 'FooBar'<br/>
                                            name = 'FooBar' AND (width > 5 OR height <= 30)<br/>
                                            city NOT IN ('Foo', 'Bar')
                                        </code>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{ end }}
        </div>
        <button type="submit" class="btn btn-primary mt-2"> {{ i18n "ApplyFilters" }}</button>
        <button type="reset" class="btn btn-secondary mt-2">{{ i18n "ResetFilter" }}</button>
    </form>
{{end}}
