@charset "UTF-8";

/* see https://getbootstrap.com/docs/5.2/customize/css-variables/#root-variables */
:root {
    --bs-blue: #1a1e4f;
    --lightblue: #add8e6;
}

hgroup {
    margin-bottom: 0.5rem;
}

.navbar {
    background-color: var(--bs-blue);
}

.navbar .breadcrumb .breadcrumb-item,
.navbar .breadcrumb .breadcrumb-item a {
    color: var(--bs-white);
}
.navbar .breadcrumb .breadcrumb-item a:hover {
    color: var(--lightblue);
}

/*.navbar .breadcrumb .breadcrumb-item:last-of-type,*/
/*.navbar .breadcrumb .breadcrumb-item:last-of-type a {*/
/*    text-decoration: none;*/
/*}*/

/*.navbar .page-toggle a {*/
/*    color: var(--bs-white);*/
/*    text-decoration: underline;*/
/*}*/
/*.navbar .page-toggle a:hover {*/
/*    color: var(--lightblue);*/
/*}*/


footer {
    background-color: var(--bs-blue);
}

.table-sm td p {
    margin: 0;
}
