@charset "UTF-8";

/* navbar */
.navbar {
    background-color: var(--primary-color);
}

.logo {
    width: 170px;
    height: 65px;
    object-fit: contain;
}

.navbar .navbar-outputs {
    --bs-breadcrumb-divider: '|'
}
.navbar .breadcrumb .breadcrumb-item,
.navbar .breadcrumb .breadcrumb-item a {
    color: var(--bs-white);
}
.navbar .breadcrumb .breadcrumb-item a:hover {
    color: var(--secondary-color);
}

/* cards */
.card-header {
    color: var(--bs-white);
    background-color: var(--primary-color);
}
.card-header a {
    color: var(--link-color);
}
.card-header a:hover {
    color: var(--secondary-color);
}

hgroup {
    margin-bottom: 0.5rem;
}

footer {
    background-color: var(--primary-color);
}

/* tables */
td {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
}
.table-sm td p {
    margin: 0;
    padding: 0;
}
.table-sm>:not(caption)>*>*  {
    padding: 0.10rem;
}
.table-striped>thead>tr>th {
    color: var(--bs-white);
    background-color:  var(--primary-color);
}
.table-striped>thead>tr>th a {
    color: var(--link-color);
}
.table-striped>thead>tr>th a:hover {
    color: var(--secondary-color);
}

.btn-primary {
    --bs-btn-bg: var(--primary-color);
    --bs-btn-color: var(--bs-white);
    --bs-btn-border-color: var(--primary-color);
    --bs-btn-hover-bg: var(--primary-color-30);
    --bs-btn-hover-border-color: var(--primary-color-30);
}

.vectortile-view {
    flex-grow: 1;
}
