---
version: 1.0.0
title: Example 3D
# shortened title, used in breadcrumb path
serviceIdentifier: 3D
abstract: >-
  This is a description about the dataset in Markdown.
# just a dummy picture, but you can put an actual thumbnail here
thumbnail: 3d.png
resources:
  directory: ./examples/resources
license:
  name: CC0 1.0
  url: https://creativecommons.org/publicdomain/zero/1.0/deed.nl
support:
  name: Example Support
  url: https://support.example.com
lastUpdated: "2023-06-01T12:00:00Z"
datasetCatalogUrl: https://www.pdok.nl/datasets
baseUrl: http://localhost:8080
availableLanguages:
  - nl
  - en
ogcApi:
  3dgeovolumes:
    tileServer: https://example.com
    collections:
      - id: gebouwen
        tileServerPath: /path/to/tileserver
        isDtm: false
        isImplicit: true
