---
services:
  postgres:
    # We use a multi-arch image (x86/arm64). There's currently no official release of this image yet on docker.io/postgis.
    # In the meantime we'll use this image from the same maintainer. See https://github.com/postgis/docker-postgis/issues/216
    image: docker.io/imresamu/postgis:16-3.5-bookworm  # use debian, not alpine.
    container_name: "postgres"
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "postgres"
      POSTGRES_DB: "postgres"
    command: [ "postgres", "-c", "log_statement=all" ]
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres -d postgres" ]
      interval: 5s
      retries: 30

  gokoala-etl:
    build:
      context: ../
      dockerfile: Dockerfile
    image: gokoala:local
    depends_on:
      postgres:
        condition: service_healthy
    entrypoint: # language=bash
      - sh
      - -c
      - |
        /gokoala-etl create-search-index \
          --db-host postgres --db-name postgres --srid 4326

        /gokoala-etl import-file \
          --db-host postgres --db-name postgres \
          --config-file /examples/config_search_etl.yaml \
          --revision=a8bdb084-fabb-4c28-bdb0-84fabbbc2819 \
          --file /testdata/fake-addresses-crs84.gpkg
    volumes:
      - ../internal/ogc/features_search/testdata/:/testdata
      - ./:/examples

  gokoala-server:
    build:
      context: ../
      dockerfile: Dockerfile
    image: gokoala:local
    depends_on:
      gokoala-etl:
        condition: service_completed_successfully
    entrypoint: # language=bash
      - sh
      - -c
      - |
        /gokoala-server --config-file ./examples/config_search.yaml \
          --synonyms-file ./testdata/synonyms.csv \
          --rewrites-file ./testdata/rewrites.csv
    volumes:
      - ../internal/ogc/features_search/testdata/:/testdata
      - ./:/examples
    ports:
      - "8080:8080"
    healthcheck:
      test: /bin/curl --fail http://127.0.0.1:8080 || exit 1
      interval: 1s
      retries: 30

  smoketest:
    build:
      context: ../
      dockerfile: Dockerfile
    image: gokoala:local
    depends_on:
      gokoala-server:
        condition: service_healthy
      gokoala-etl:
        condition: service_completed_successfully
    entrypoint: # language=bash
      - sh
      - -c
      - |
        set -e
        echo "test search (query on 'acht', expected 10 results)"
        curl "http://gokoala:8080/search?addresses%5Brelevance%5D=0.5&addresses%5Bversion%5D=1&q=acht&f=json" | \
          jq -e '.numberReturned | select(. == 10)'
