---
version: "3"

services:
  azurite:
    image: mcr.microsoft.com/azure-storage/azurite
    container_name: "azurite"
    hostname: azurite
    command: "azurite-blob --blobHost 0.0.0.0 --blobPort 10000"
    ports:
      - "10000:10000"
    healthcheck:
      test: nc 127.0.0.1 10000 -z
      interval: 1s
      retries: 30

  azurite-seed:
    image: rclone/rclone
    depends_on:
      azurite:
        condition: service_healthy
    volumes:
      - ./:/examples
    environment:
      - RCLONE_CONFIG_BLOBS_TYPE=azureblob
      - RCLONE_CONFIG_BLOBS_ENDPOINT=http://azurite:10000/devstoreaccount1
      - RCLONE_CONFIG_BLOBS_USE_EMULATOR=true
    entrypoint:
      - sh
      - -c
      - |
        echo "create azure container"
        rclone mkdir blobs:example
        echo "upload cloud-backed sqlite/geopackage files (pre-created with blockcachevfsd CLI)"
        rclone copy /examples/resources/addresses-cloudbacked-gpkg/ blobs:example
        echo "done"

  gokoala:
    build:
      context: ../
      dockerfile: Dockerfile
    depends_on:
      azurite-seed:
        condition: service_completed_successfully
    command: "--config-file ./examples/config_features_azure.yaml"
    volumes:
      - ./:/examples
    ports:
      - "8080:8080"
