.objectinfo {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right:1em; 
    background-color: white;    
    overflow-y:scroll; 
    max-height: 60vh;   
    font-family: var(--font-family, "Roboto");   
    
  }

  .featuretable {
    text-align: left;
  }
  .featuretablecaption {  
    text-align: left;
    font-weight: bold;
  }