.objectinfo {
  margin-top: 0;
  margin-bottom: 0;
  margin-right:0; 
  background-color: white;    
  overflow-y:auto; 
  overflow-x:auto; 
  max-height:98%;
}

.featuretable {
  text-align: left;
}

.featuretablecaption {  
  text-align: left;
  font-weight: bold;
}
