{{- /*gotype: github.com/PDOK/gokoala/engine.TemplateData*/ -}}
{{define "content"}}
<hgroup>
    <h1 class="title">NetherlandsRDNewQuad</h1>
</hgroup>
<div class="row">
    <div class="col-md-12">
        <p>
            De tiles zijn op te vragen via onderstaande URL-template. Daarbij is
            <small><code>{tileMatrix}/{tileRow}/{tileCol}</code></small> een verwijzing naar een
            tile volgens het <a href="/tileMatrixSets/NetherlandsRDNewQuad">NetherlandsRDNewQuad</a> tiling scheme.
            In sommige tools is het ook mogelijk om dit via <a href="tiles/NetherlandsRDNewQuad?f=tilejson">TileJSON</a>
            in te laden.
        </p>
        <code>{{ .Config.BaseURL }}/tiles/NetherlandsRDNewQuad/{z}/{y}/{x}?f=mvt</code>
        <p>
            <app-vectortile-view style="width: 800px; height: 600px;"
            tile-url="{{ .Config.BaseURL }}/tiles/NetherlandsRDNewQuad"
            {{ if .Config.OgcAPI.Styles }}style-url="{{ .Config.BaseURL }}/styles/{{ .Config.OgcAPI.Styles.Default }}"{{ end }}
            zoom="12"
            center-x="5.3896944" center-y="52.1562499"
            show-grid>
            </app-vectortile-view>
        </p>
        <h2>Tile matrix set limits</h2>
        De tiles zijn beschikbaar op de volgende zoomniveaus:
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Zoomniveau (<code>tileMatrix</code>)</th>
                <th>Minimale waarde <code>tileRow</code></th>
                <th>Maximale waarde <code>tileRow</code></th>
                <th>Minimale waarde <code>tileCol</code></th>
                <th>Maximale waarde <code>tileCol</code></th>
            </tr>
            </thead>
            <tbody>
            {{ range $type := .Config.OgcAPI.Tiles.SupportedSrs }}
                {{ if eq $type.Srs "EPSG:28992" }}
                    {{ if eq $type.ZoomLevelRange.Start 0 }}
                        <tr>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                    {{end}}
                    {{ if and (le $type.ZoomLevelRange.Start 1) (ge $type.ZoomLevelRange.End 1) }}
                        <tr>
                            <td>1</td>
                            <td>0</td>
                            <td>1</td>
                            <td>0</td>
                            <td>1</td>
                        </tr>
                    {{end}}
                    {{ if and (le $type.ZoomLevelRange.Start 2) (ge $type.ZoomLevelRange.End 2) }}
                        <tr>
                            <td>2</td>
                            <td>0</td>
                            <td>3</td>
                            <td>0</td>
                            <td>3</td>
                        </tr>
                    {{end}}
                    {{ if and (le $type.ZoomLevelRange.Start 3) (ge $type.ZoomLevelRange.End 3) }}
                        <tr>
                            <td>3</td>
                            <td>0</td>
                            <td>7</td>
                            <td>0</td>
                            <td>7</td>
                        </tr>
                    {{end}}
                    {{ if and (le $type.ZoomLevelRange.Start 4) (ge $type.ZoomLevelRange.End 4) }}
                        <tr>
                            <td>4</td>
                            <td>0</td>
                            <td>15</td>
                            <td>0</td>
                            <td>15</td>
                        </tr>
                    {{end}}
                    {{ if and (le $type.ZoomLevelRange.Start 5) (ge $type.ZoomLevelRange.End 5) }}
                        <tr>
                            <td>5</td>
                            <td>0</td>
                            <td>31</td>
                            <td>0</td>
                            <td>31</td>
                        </tr>
                    {{end}}
                    {{ if and (le $type.ZoomLevelRange.Start 6) (ge $type.ZoomLevelRange.End 6) }}
                        <tr>
                            <td>6</td>
                            <td>0</td>
                            <td>63</td>
                            <td>0</td>
                            <td>63</td>
                        </tr>
                    {{end}}
                    {{ if and (le $type.ZoomLevelRange.Start 7) (ge $type.ZoomLevelRange.End 7) }}
                        <tr>
                            <td>7</td>
                            <td>0</td>
                            <td>127</td>
                            <td>0</td>
                            <td>127</td>
                        </tr>
                    {{end}}
                    {{ if and (le $type.ZoomLevelRange.Start 8) (ge $type.ZoomLevelRange.End 8) }}
                        <tr>
                            <td>8</td>
                            <td>0</td>
                            <td>255</td>
                            <td>0</td>
                            <td>255</td>
                        </tr>
                    {{end}}
                    {{ if and (le $type.ZoomLevelRange.Start 9) (ge $type.ZoomLevelRange.End 9) }}
                        <tr>
                            <td>9</td>
                            <td>0</td>
                            <td>511</td>
                            <td>0</td>
                            <td>511</td>
                        </tr>
                    {{end}}
                    {{ if and (le $type.ZoomLevelRange.Start 10) (ge $type.ZoomLevelRange.End 10) }}
                        <tr>
                            <td>10</td>
                            <td>0</td>
                            <td>1023</td>
                            <td>0</td>
                            <td>1023</td>
                        </tr>
                    {{end}}
                    {{ if and (le $type.ZoomLevelRange.Start 11) (ge $type.ZoomLevelRange.End 11) }}
                        <tr>
                            <td>11</td>
                            <td>0</td>
                            <td>2047</td>
                            <td>0</td>
                            <td>2047</td>
                        </tr>
                    {{end}}
                    {{ if and (le $type.ZoomLevelRange.Start 12) (ge $type.ZoomLevelRange.End 12) }}
                        <tr>
                            <td>12</td>
                            <td>0</td>
                            <td>4095</td>
                            <td>0</td>
                            <td>4095</td>
                        </tr>
                    {{end}}
                    {{ if and (le $type.ZoomLevelRange.Start 13) (ge $type.ZoomLevelRange.End 13) }}
                        <tr>
                            <td>13</td>
                            <td>0</td>
                            <td>8191</td>
                            <td>0</td>
                            <td>8191</td>
                        </tr>
                    {{end}}
                    {{ if and (le $type.ZoomLevelRange.Start 14) (ge $type.ZoomLevelRange.End 14) }}
                        <tr>
                            <td>14</td>
                            <td>0</td>
                            <td>16383</td>
                            <td>0</td>
                            <td>16383</td>
                        </tr>
                    {{end}}
                    {{ if and (le $type.ZoomLevelRange.Start 15) (ge $type.ZoomLevelRange.End 15) }}
                        <tr>
                            <td>15</td>
                            <td>0</td>
                            <td>32767</td>
                            <td>0</td>
                            <td>32767</td>
                        </tr>
                    {{end}}
                    {{ if and (le $type.ZoomLevelRange.Start 16) (ge $type.ZoomLevelRange.End 16) }}
                        <tr>
                            <td>16</td>
                            <td>0</td>
                            <td>65535</td>
                            <td>0</td>
                            <td>65535</td>
                        </tr>
                    {{end}}
                {{end}}
            {{end}}
            </tbody>
        </table>
    </div>
</div>
{{end}}
