@let features = features$ | async;
@let hasFeatures = !!features?.length;
@let hasSearched = hasSearched$ | async;

<div class="dropdown" [attr.aria-expanded]="searchOpen()">
  <div class="input-group">
    <input
      type="text"
      [formControl]="form.controls.location"
      [placeholder]="placeholderText"
      class="form-control"
      [ngClass]="{ 'is-invalid': !hasSearchParams() }"
      id="search-input"
      autocomplete="off"
      [attr.aria-expanded]="true"
      (focus)="openSearchIfNot()"
      (click)="openSearchIfNot()"
      aria-describedby="searchHelpBlock" />
    <button class="btn btn-secondary" type="button" (click)="toggleCollectionSettings()">
      <i class="bi bi-sliders"></i>
    </button>
  </div>
  <ul class="dropdown-menu w-100" [ngClass]="{ show: searchOpen() && hasSearchParams() && hasSearched }" aria-labelledby="search-input">
    @if (hasFeatures && !searching()) {
      <!--pre>Form values: {{ features | json }}</pre-->

      @for (feature of features; track $index) {
        <li class="dropdown-item">
          <button (click)="selectFeature(feature)" class="dropdown-item">{{ feature.properties | propertyValue: 'displayName' }}</button>
        </li>
      }
    } @else if (!hasFeatures && !searching() && hasSearched) {
      <li class="dropdown-item">{{ noResultsText }}</li>
    } @else if (searching()) {
      <li class="dropdown-item">{{ searchingText }}</li>
    }
  </ul>
</div>
<div
  id="searchHelpBlock"
  class="form-text"
  *ngIf="(!form.controls.location.value || form.controls.location.value.length < MIN_QUERY_LENGTH) && hasSearchParams()">
  {{ searchHelpText }}
</div>
<div *ngIf="!hasSearchParams()" class="d-block invalid-feedback">{{ noCollectionsSelectedText }}</div>
<app-collection-settings
  [url]="url"
  [open]="collectionSettingsOpen()"
  (formChange)="onFormChange($event)"
  [relevanceText]="relevanceText"></app-collection-settings>
