@let features = features$ | async;
@let hasFeatures = !!features?.length;
@let hasSearched = hasSearched$ | async;
@let collectionTitles = collectionTitles$ | async;
<div class="dropdown">
  <div class="input-group">
    <input
      type="text"
      role="combobox"
      [formControl]="form.controls.location"
      [placeholder]="placeholderText"
      class="form-control"
      [ngClass]="{ 'is-invalid': !hasSearchParams() }"
      id="search-input"
      autocomplete="off"
      [attr.aria-expanded]="searchOpen()"
      aria-haspopup="listbox"
      aria-autocomplete="list"
      aria-controls="search-results"
      aria-describedby="searchHelpBlock"
      (focus)="openSearchIfNot()"
      (click)="openSearchIfNot()"
      (keydown.enter)="confirmFirstFeature()"
      (keydown.arrowdown)="focusResult(0, $event)" />
    <button
      class="btn btn-secondary"
      type="button"
      [attr.aria-label]="collectionsText"
      [attr.aria-expanded]="collectionSettingsOpen()"
      (click)="toggleCollectionSettings()">
      <i class="bi bi-sliders" aria-hidden="true"></i>
    </button>
  </div>
  <ul
    id="search-results"
    role="listbox"
    class="dropdown-menu w-100"
    [ngClass]="{ show: searchOpen() && hasSearchParams() && hasSearched }"
    (mouseleave)="revertToConfirmed()">
    @if (hasFeatures && !searching()) {
      @for (feature of features; track $index) {
        <li role="option" [attr.aria-selected]="confirmedFeature()?.id === feature.id">
          <button
            [title]="feature.properties | propertyValue: 'display_name'"
            (mouseenter)="selectFeature(feature)"
            (click)="confirmFeature(feature)"
            (keydown.arrowdown)="focusResult($index + 1, $event)"
            (keydown.arrowup)="$index === 0 ? focusInput($event) : focusResult($index - 1, $event)"
            class="dropdown-item d-flex justify-content-between align-items-center">
            <span [innerHTML]="feature.properties | highlight"></span>
            <span class="collection fw-bolder text-muted text-break" [title]="feature.properties | propertyValue: 'collection_id'">
              {{ collectionTitles?.get(feature.properties | propertyValue: 'collection_id') | uppercase }}
            </span>
          </button>
        </li>
      }
    } @else if (!hasFeatures && !searching() && hasSearched) {
      <li class="dropdown-item">{{ noResultsText }}</li>
    } @else if (searching()) {
      <li class="dropdown-item">{{ searchingText }}</li>
    }
  </ul>
</div>
<div
  id="searchHelpBlock"
  class="form-text"
  *ngIf="(!form.controls.location.value || form.controls.location.value.length < MIN_QUERY_LENGTH) && hasSearchParams()">
  {{ searchHelpText }}
</div>
<div *ngIf="!hasSearchParams()" class="d-block invalid-feedback">{{ noCollectionsSelectedText }}</div>
<app-collection-settings
  [open]="collectionSettingsOpen()"
  (formChange)="onFormChange($event)"
  [relevanceText]="relevanceText"></app-collection-settings>
