@let features = features$ | async;
@let hasFeatures = !!features?.length;
@let hasSearched = hasSearched$ | async;
<div class="dropdown" [attr.aria-expanded]="searchOpen()">
  <div class="input-group">
    <input
      type="text"
      [formControl]="form.controls.location"
      [placeholder]="placeholder"
      class="form-control"
      id="search-input"
      autocomplete="off"
      [attr.aria-expanded]="true"
      (focus)="openSearchIfNot()"
      (click)="openSearchIfNot()"
      aria-describedby="settings" />
    <button class="btn btn-secondary" type="button" (click)="toggleCollectionSettings()">
      <i class="bi bi-sliders"></i>
    </button>
  </div>
  <ul class="dropdown-menu w-100" [ngClass]="{ show: searchOpen() && hasSearched }" aria-labelledby="search-input">
    @if (hasFeatures && !searching()) {
      @for (feature of features; track $index) {
        <li class="dropdown-item">
          <button (click)="selectFeature(feature)" class="dropdown-item">{{ feature.properties | propertyValue: 'display_name' }}</button>
        </li>
      }
    } @else if (!hasFeatures && !searching() && hasSearched) {
      <li class="dropdown-item">{{ noResultsText }}</li>
    } @else if (searching()) {
      <li class="dropdown-item">{{ searchingText }}</li>
    }
  </ul>
</div>
<app-collection-settings
  [open]="collectionSettingsOpen()"
  (formChange)="searchParams = $event"
  [collectionText]="collectionText"
  [relevanceText]="relevanceText"></app-collection-settings>
