{{- /*gotype: github.com/PDOK/gokoala/internal/engine.TemplateData*/ -}}
{{ define "content" }}
{{ if .Params }}
{{ $baseUrl := .Config.BaseURL }}
<link rel="stylesheet" type="text/css" href="view-component/styles.css">
<script type="module" src="view-component/main.js"></script>
<script src="view-component/polyfills.js"></script>
<hgroup>
    <h1 class="title" id="title">{{ .Config.Title }} - {{ .Params.Title }}</h1>
</hgroup>
<div class="row py-3">
    <div class="col-md-12">
        {{ markdown .Params.Description }}
        <p>
            {{ i18n "MapboxStyleText" }}
        </p>
    </div>
    <div class="col-md-6">
        <app-legend-view id="style-legend-view" class="card"
                         style-url="{{ $baseUrl }}/styles/{{ .Params.ID }}?f=mapbox">
        </app-legend-view>
        <noscript>Enable Javascript to display style legend</noscript>
    </div>
</div>
{{end}}
{{end}}
