{{- /*gotype: github.com/PDOK/gokoala/engine.TemplateData*/ -}}
{{define "content"}}
<hgroup>
    <h2 class="title">{{ .Config.Title }} - {{ if and .Params.Metadata .Params.Metadata.Title }}{{ .Params.Metadata.Title }}{{ else }}{{ .Params.ID }}{{ end }}</h2>
</hgroup>

<section class="row row-cols-4 g-4 py-3">
    <div class="col-8">
        <div class="card h-100">
            <h5 class="card-header">
                {{ if and .Params.Metadata .Params.Metadata.Title }}
                    {{ .Params.Metadata.Title }}
                {{ else }}
                    {{ .Params.ID }}
                {{ end }}
            </h5>
            <div class="card-body">
                {{ if and .Params.Metadata .Params.Metadata.Description }}
                    {{ markdown .Params.Metadata.Description }}
                {{ end }}
            </div>

            TODO
        </div>
    </div>
</section>
{{end}}
