{{- /*gotype: github.com/PDOK/gokoala/engine.TemplateData*/ -}}
{{define "content"}}
{{ $cfg := .Config }}
{{ $baseUrl := $cfg.BaseURL }}
{{ $collId := .Params.CollectionID }}

<script>

    function crsChange(value) {
        const url = new URL(window.location.href);
        url.searchParams.set('crs', value);
        window.location.href = url.toString();
    }

</script>

<hgroup>
    <h2 class="title">{{ .Config.Title }} - {{ if and .Params.Metadata .Params.Metadata.Title }}{{
        .Params.Metadata.Title }}{{ else }}{{ .Params.CollectionID }}{{ end }}</h2>
</hgroup>

<section class="row row-cols-4 g-4 py-3" id="body" hidden="hidden">

    <div class="col-8">
        <table class="table table-borderless table-sm w-auto">
            <tbody>
            <tr>
                <td class="w-auto text-nowrap">
                    <b>{{ i18n "Projection" }}</b>
                </td>
                <td class="w-auto px-2">
                    <select id="srs-select" onchange="crsChange(this.value)">
                        <option value="http://www.opengis.net/def/crs/OGC/1.3/CRS84" selected > http://www.opengis.net/def/crs/OGC/1.3/CRS84 </option>
                        {{ range $index, $srs := .Config.OgcAPI.Features.ProjectionsForCollection $collId }}
                        <option value=http://www.opengis.net/def/crs/EPSG/0/{{ trimPrefix "EPSG:" $srs }} > http://www.opengis.net/def/crs/EPSG/0/{{ $srs }}  </option>
                        {{ end }}
                    </select>
                </td>

            </tr>
            </tbody>
        </table>
    </div>

    <div class="col-8">
        <table class="table table-striped">
            <thead>
            <tr>
                <th colspan="2">{{ .Params.FeatureID }}</th>
            </tr>
            </thead>
            <tbody>
            {{ range $key, $value := .Params.Properties }}
            <tr>
                <td class="w-25">{{ $key }}</td>
                <td>{{ $value }}</td>
            </tr>
            {{ end }}
            </tbody>
        </table>
    </div>

    <div class="col-4" >
        <table>
            <tr>
                <td class="w-auto px-2">
                    <b>{{ i18n "Example" }} URL</b>
                </td>
            </tr>
            <tr>
                <td class="w-auto px-2">
                    <code id="field-url-example"></code>
                </td>
            </tr>
        </table>

        <link rel="stylesheet" type="text/css" href="view-component/styles.css">
        <script type="text/javascript" src="view-component/main.js"></script>
        <script type="text/javascript" src="view-component/polyfills.js"></script>
        <script type="text/javascript" src="view-component/runtime.js"></script>
        <app-feature-view id="viewer" background-map="BRT" projection="EPSG:28992">
        </app-feature-view>
        <script type="module">
            let url = new URL(window.location.href)
            url.searchParams.set('f','json');
            let viewer = document.getElementById('viewer');
            viewer.setAttribute('items-url', url );

            document.getElementById("field-url-example").innerHTML = url
            if (new URLSearchParams(window.location.search).get('crs') !== null) {
                let crs = url.searchParams.get('crs');
                document.getElementById('srs-select').value = crs;
                viewer.setAttribute('projection', crs)
            }

            document.getElementById("body").hidden = ""

        </script>
    </div>

</section>
{{end}}
