---
name: e2e-test
on:
  pull_request:
jobs:
  end-to-end-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      # Build a local test image for (potential) re-use across end-to-end tests
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          driver: docker
      - name: Build test image
        uses: docker/build-push-action@v5
        with:
          push: false
          tags: gokoala:local

      # E2E Test (Docker Compose V2 can't unfortunately re-use image, so build it again).
      - name: E2E Test => OGC API Features with Azure GeoPackage
        run: |
          docker compose -f ./examples/docker-compose-features-azure.yaml build gokoala && \
          docker compose -f ./examples/docker-compose-features-azure.yaml up \
            --exit-code-from smoketest

      - name: Start GoKoala test instance
        run: |
          docker run \
            -v `pwd`/examples:/examples \
            --rm --detach -p 8080:8080 \
            --name gokoala \
            gokoala:local --config-file /examples/config_all.yaml

      # E2E Test (Cypress)
      - name: E2E Test => Cypress
        uses: cypress-io/github-action@v6
        with:
          working-directory: ./tests
          browser: chrome

      # E2E Test (Features conformance)
      - name: E2E Test => OGC API Features Conformance Validation
        run: |
          sleep 5
          docker run --net=host -t -v "$(pwd):/mnt" \
            docker.io/pdok/ets-ogcapi-features10-docker:latest \
            http://localhost:8080 \
            --generateHtmlReport true \
            --outputDir /mnt/output \
            --exitOnFail \
            --prettyPrint

      # E2E Test (Tiles conformance)
      - name: E2E Test => OGC API Tiles Conformance Validation
        run: |
          sleep 5
          docker run --net=host -t -v "$(pwd):/mnt" \
            docker.io/pdok/ets-ogcapi-tiles10-docker:latest \
            http://localhost:8080 \
            --generateHtmlReport true \
            --outputDir /mnt/output \
            --exitOnFail \
            --prettyPrint

      - name: Stop GoKoala test instance
        run: |
          docker stop gokoala
