---
name: lint (go)
on:
  push:
    branches:
      - master
  pull_request:
permissions:
  contents: read
jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - name: setup cgo dependencies
        run: sudo apt-get update && sudo apt-get install libcurl4-openssl-dev libssl-dev libsqlite3-mod-spatialite proj-bin

      - uses: actions/setup-go@v6
        with:
          check-latest: true
          go-version: '1.25'
          check-latest: true
          cache: false

      - uses: actions/checkout@v4

      - name: Tidy
        uses: katexochen/go-tidy-check@v2

      - name: Run govulncheck (when this fails => upgrade go version)
        run: |
          GOPATH_BIN=$(go env GOPATH)/bin
          export PATH="${GOPATH_BIN}:${PATH}"
          go install golang.org/x/vuln/cmd/govulncheck@latest
          govulncheck ./...

      - name: Check optimal field alignment for crucial structs (when this fails => run 'betteralign -apply <path>').
        run: |
          GOPATH_BIN=$(go env GOPATH)/bin
          export PATH="${GOPATH_BIN}:${PATH}"
          go install github.com/dkorunic/betteralign/cmd/betteralign@latest
          betteralign ./internal/ogc/features/domain

      - name: Golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.5.0
