---
name: lint (go)
on:
  push:
    branches:
      - master
  pull_request:
permissions:
  contents: read
jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup cgo dependencies
        run: sudo apt-get update && sudo apt-get install libcurl4-openssl-dev libssl-dev libsqlite3-mod-spatialite proj-bin

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          check-latest: true
          go-version-file: 'go.mod'

      - name: Tidy
        # Pin 3rd party action to a specific version as security best-practice.
        # Version used: https://github.com/katexochen/go-tidy-check/releases/tag/v2.0.1
        uses: katexochen/go-tidy-check@427c8c07d3d83ab8d7290cad04ce71c12eab3674

      - name: Run govulncheck (when this fails => upgrade go version)
        run: |
          GOPATH_BIN=$(go env GOPATH)/bin
          export PATH="${GOPATH_BIN}:${PATH}"
          go install golang.org/x/vuln/cmd/govulncheck@latest
          govulncheck ./...

      - name: Check optimal field alignment for crucial structs (when this fails => run 'betteralign -apply <path>').
        run: |
          GOPATH_BIN=$(go env GOPATH)/bin
          export PATH="${GOPATH_BIN}:${PATH}"
          go install github.com/dkorunic/betteralign/cmd/betteralign@v0.8.4
          betteralign ./internal/ogc/features/domain

      - name: Golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.9.0
