---
name: test (ts)
on:
  push:
    branches:
      - master
  pull_request:

defaults:
  run:
    working-directory: ./viewer
jobs:
  cypress-ts:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x]

    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
          cache-dependency-path: "./viewer/package-lock.json"

      - name: Install
        run: npm ci && npm run apigen

      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
          component: true
          working-directory: ./viewer
          browser: chrome
