---
name: test (go)
on:
  push:
    branches:
      - master
  pull_request:
permissions:
  contents: write
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup cgo dependencies
        run: sudo apt-get update && sudo apt-get install libcurl4-openssl-dev libssl-dev libsqlite3-mod-spatialite proj-bin

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          check-latest: true
          go-version: '1.25'

      - name: Download
        run: go mod download all

      - name: Generate (fail when generated code is not committed)
        run: go generate -v ./... && git diff --exit-code ':!go.sum'

      - name: Build
        run: go build -v ./...

      - name: Unit Test
        run: |
          go test -v -race -shuffle=on -coverpkg "$(go list || go list -m | head -1)/..." -coverprofile cover.out.tmp ./...
          echo "remove generate code from coverage results"
          grep -v "zz_generated" cover.out.tmp > cover.out

      - name: Test generating example CRD
        run: hack/generate-crd.sh

      - name: Fuzz Testing
        run: |
          for pkg in $(go list ./...); do
            echo "Fuzzing $pkg"
            go test -fuzz=Fuzz -fuzztime=10s -run=^$ "$pkg" || exit 1
          done

      - name: Fail when coverage below threshold
        # Pin 3rd party action to a specific version as security best-practice.
        # Version used: https://github.com/vladopajic/go-test-coverage/releases/tag/v2.17.0
        uses: vladopajic/go-test-coverage@cc5012c2cfa84542e02b079141958a885861d326
        with:
          profile: cover.out
          local-prefix: github.com/PDOK/gokoala
          threshold-total: 80  # 80% overall coverage is the minimum

      - name: Update coverage report
        # Pin 3rd party action to a specific version as security best-practice.
        # Version used: https://github.com/ncruces/go-coverage-report/releases/tag/v0.3.1
        uses: ncruces/go-coverage-report@aa507d98fb11c2b4dffa1b731e0786f50fd8ec93
        with:
          coverage-file: cover.out
          report: true
          chart: false
          amend: false
          reuse-go: true
        if: |
          github.event_name == 'push'
        continue-on-error: false
